// InfoCard style(s)

.InfoCard {
  width: 100%;
  display: inline-block;
  max-width: 32rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  background: transparent;
  border-radius: 1.25rem;

  path {
    stroke: transparent;
    fill: $theme-primary-v6;
  }

  hr {
    height: 0.0625rem;
    width: calc(100% - 0.8rem);
    margin-left: 0.45rem;
    background: #d8d8d8;
  }

  [class*='info-section-wrapper'] {
    min-width: 200%;
    display: flex;
    position: relative;
  }

  [class*='-info-wrapper'] {
    width: 50%;
    transition: 0.25s;
    opacity: 1;
    position: relative;

    &.hide {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
  }

  .card-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .info-name {
    color: $theme-tertiary-v6;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  .info-value {
    font-weight: 500;
    font-size: 1.05rem;
  }
}
