// InfoCard style(s)

.InfoCard {
  width: 100%;
  display: inline-block;
  max-width: 32rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  background: transparent;
  border-radius: 1.25rem;

  path {
    stroke: transparent;
    fill: $theme-primary-v6;
  }

  hr {
    height: 0.0625rem;
    width: calc(100% - 0.8rem);
    margin-left: 0.45rem;
    background: #eee;
  }

  [class*='info-section-wrapper'] {
    min-width: 200%;
    display: flex;
    position: relative;
  }

  [class*='-info-wrapper'] {
    width: 50%;
    transition: opacity 0.25s;
    opacity: 1;
    position: relative;

    &.hide {
      position: absolute;
      // visibility: hidden;
      opacity: 0;
    }
  }

  .card-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .info-name {
    color: $theme-tertiary-v6;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  .info-value {
    font-weight: 500;
    font-size: 1.05rem;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-auto {
  margin: auto;
}

.upload-progress {
  color: green;
}

.width-100 {
  width: 100%;
  padding: 0 !important;
}

.read-notifications-date {
  color: #888
}

.unread-notifications-date {
  color: rgb(0, 115, 160);
}

.unread-notifications {
  color: #000;
}

.read-notifications {
  color: #888;
}

.no-space {
  margin: 0; 
  padding: 0; 
  border: 0;
}

.textdecoration-none {
  text-decoration: none;
}

.notification-background-read {
  background-color: #fff;

  &:hover {
    background-color: #eee;
  }
}

.notification-background-unread {
  background-color: #edf8b9 !important;

  &:hover {
    background-color: #ebfaa1 !important;
  }
}

.color-black {
  color: black;
  background-color: inherit;
}

.padding-left-0.4 {
  padding-left: 0.4em;
}

.first-skeleton {
  padding-top: 0.6rem;
}