@import '../constants';

.MuiAppBar-root {
  // @include debugger();

  background-color: transparent !important;
  transition: 0.3s;
  width: 100%;
  left: 0;
}

.nav-background {
  background-color: $theme-primary-v4 !important;
  box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, 0.2);
}

.nav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .dropdown {
    position: fixed !important;
    display: block;
    width: 10rem;
    background-color: #ddd;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.75rem rgba(0, 0, 0, 0.15);
    right: 1rem;
    top: 4.2rem;

    .display-name {
      font-weight: bold;
    }

    .sign-out,
    .profile {
      background-color: white;
      color: black;
      padding: 0.5rem;
    }

    .sign-out {
      margin: 0rem;
      margin-top: 0.09375rem !important;
      border-radius: 0rem 0rem 0.5rem 0.5rem;

      &:hover {
        background-color: #eee;
      }
    }

    .profile {
      margin: 0rem;
      padding-left: 0.3rem !important;
      border-radius: 0.5rem 0.5rem 0rem 0rem;

      &:hover {
        background-color: #eee;
      }

      .my-profile {
        border-radius: 1rem;
        background-color: #8ba22a;
        color: white;
        width: fit-content;
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        font-weight: bold;
      }
    }

    .user-details {
      margin-left: 0.5rem;
    }
  }

  a {
    text-decoration: none;

    &:first-child {
      &:focus {
        .logo {
          transform: scale(1.075);
        }
      }
    }
  }

  .logo {
    flex-grow: 1;
  }
}

.nav-links-wrapper {
  display: flex;

  .profile-photo {
    $size: 97.5%;

    width: $size;
    height: $size;
    transition: 0.3s;
    background: inherit;
    color: inherit;
  }

  .avatar-container {
    margin-top: -0.35rem !important;
    position: relative;
    align-items: center;

    &:hover {
      color: $theme-secondary-v8 !important;
    }

    .avatar {
      position: absolute;
      right: 0.1rem;
      top: 1.85rem;
    }
  }
}

.nav-icon {
  transition: 0.35s;
}

.nav-link {
  $size: 3rem;

  min-height: $size;
  height: $size;
  min-width: $size;
  width: $size;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 1rem;
  padding: 0.75em;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7) !important;
  text-transform: uppercase !important;
  transition: 0.35s;
  position: relative;

  &.active {
    color: white !important;

    &::before {
      background: unset;
      border-color: #eee;
    }

    .profile-photo {
      $size: 85%;

      width: $size;
      height: $size;
    }
  }

  &:hover,
  &:focus {
    color: white !important;

    &::before {
      transform: rotateZ(-60deg) scale(1.09);
      border-right-color: #eee;
      border-left-color: #eee;
    }
  }

  &::before {
    @include before-or-after(
      $br: 50%,
      $bg: rgba(255, 255, 255, 0.2),
      $tr: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    );
    border: 0.125rem solid transparent;
  }

  .nav-label {
    display: none;
  }

  .icon {
    font-size: 1.4em;
  }
}

.drawer {
  .menu-button {
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 0.0625em;
    transition: 0.3s;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.drawer-nav {
  .search {
    display: none;
  }

  a {
    text-decoration: none;
    border-radius: 0 !important;
  }

  .nav-links-wrapper {
    flex-direction: column;
    padding: 2em 0;
  }

  .nav-link {
    padding: 0.85em;
    width: auto;
    margin: 0 0.5em;
    margin-top: 0.5em;
    justify-content: flex-start;

    &:hover,
    &:focus {
      border-bottom-color: transparent;
    }

    &:before {
      width: 3rem;
      height: 3rem;
    }

    .icon {
      margin-right: 1.75rem !important;
    }

    .nav-label {
      display: inline-block;
    }
  }

  .search {
    color: white;
    margin: 0;
    margin-top: 3rem;
    border-radius: 0;
    height: 3em;
    padding: 2em 1.15em;
    width: 100% !important;
    order: 1;
  }

  .MuiDrawer-paper {
    width: 70%;
    overflow-x: hidden;
    background: $theme-primary-v3;
    max-width: 300px;
  }
}
