@import '../constants';

.MuiAppBar-root {
  // @include debugger();

  background-color: transparent !important;
  transition: 0.35s;
  width: 100%;
  left: 0;
}

.nav-background {
  background-color: $theme-primary-v4 !important;
  box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, 0.2);
}

.nav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .dropdown {
    position: fixed !important;
    display: block;
    width: 10rem;
    background-color: #ddd;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.75rem rgba(0,0,0,0.15);
    right: 1rem;
    top: 4.2rem;

    .display-name {
      font-weight: bold;
    }

    .sign-out,.profile {
      background-color: white;
      color: black;
      padding: 0.5rem;
    }

    .sign-out {
      margin: 0rem;
      margin-top: 0.09375rem !important;
      border-radius: 0rem 0rem 0.5rem 0.5rem;

      &:hover {
        background-color: #eee;
      }
    }

    .profile {
      margin: 0rem;
      padding-left: 0.3rem !important;
      border-radius: 0.5rem 0.5rem 0rem 0rem;

      &:hover {
        background-color: #eee;
      }

      .my-profile {
        border-radius: 1rem;
        background-color: #8ba22a;
        color: white;
        width: fit-content;
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        font-weight: bold;
      }
    }

    .user-details {
      margin-left: 0.5rem;
    }
  }

  a {
    text-decoration: none;

    &:first-child {
      &:focus {
        .logo {
          transform: scale(1.075);
        }
      }
    }
  }

  .logo {
    flex-grow: 1;
  }
}

.nav-links-wrapper {
  display: flex;

  .profile-photo {
    $size : 2rem;

    width: $size;
    height: $size;
  }

  .avatar-container {
    margin-top: -0.35rem !important;
    position: relative;
    align-items: center;

    &:hover {
      color: $theme-secondary-v8 !important
    }

    .avatar {
      position: absolute;
      right: 0.1rem;
      top: 1.85rem;
    }
  }
}

.nav-icon {
  transition: 0.35s;
}

.nav-link {
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  margin: 0 0.5em;
  padding: 0.75em;
  font-size: 1rem;
  color: #f0f0f0 !important;
  background: unset;
  text-transform: uppercase !important;
  transition: 0.35s;
  position: relative;

  &::before {
    position: absolute;
    content: ' ';
    width: 0.25em;
    max-width: 50%;
    height: 0.25em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25em;
    background-color: $theme-primary-v8;
    transition: 0.35s;
  }

  &.active {
    &::before {
      width: 60% !important;
      background: $theme-secondary;
    }
  }

  &:hover, &:focus {
    color: $theme-secondary-v8 !important;

    &::before {
      width: 3em;
      background-color: $theme-secondary-v7;
    }
  }

  &:last-child {
    margin-right: 0;
    padding: 0.5em 1em;
    color: white !important;
    background-color: unset;

    &::before {
      top: -70%;
      max-width: unset;
      width: 100%;
      height: 180%;
      background: $theme-primary-v6;
    }

    &:hover, &:focus {
      &::before {
        height: 100%;
        top: 0;
        background-color: $theme-secondary;
      }
    }
  }

  .nav-label {
    display: none;
  }
}

.drawer-nav {
  .search {
    display: none;
  }

  a {
    text-decoration: none;
    border-radius: 0 !important;
  }

  .nav-links-wrapper {
    flex-direction: column;
    padding: 2em 0;
  }

  .nav-link {
    padding: 0.85em;
    margin: 0 0.5em;
    margin-top: 0.5em;

    &:hover, &:focus {
      border-bottom-color: transparent;
    }

    &:last-child {
      margin-top: 2rem;
      justify-content: flex-start;

      &::before {
        top: 0;
        width: 150%;
        height: 100%;
      }

      &:hover, &:focus {
        &::before {
          width: 100%;
        }
      }
    }

    .nav-label {
      display: inline;
    }
  }

  .search {
    color: white;
    margin: 0;
    margin-top: 3rem;
    border-radius: 0;
    height: 3em;
    padding: 2em 1.15em;
    width: 100% !important;
    order: 1;
  }

  .MuiDrawer-paper {
    width: 75%;
    overflow-x: hidden;
    background: $theme-primary-v3;
    max-width: 300px;
  }
}