@import '../constants';

.MuiAppBar-root {
  // @include debugger();

  background-color: transparent !important;
  transition: 0.3s;
  width: 100%;
  left: 0;
}

.nav-background {
  background-color: $theme-primary-v4 !important;
  box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, 0.2);
}

.nav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  a {
    text-decoration: none;

    &:first-child {
      &:focus {
        .logo {
          transform: scale(1.075);
        }
      }
    }
  }

  .logo {
    flex-grow: 1;
  }
}

.nav-links-wrapper {
  display: flex;

  .profile-photo {
    $size: 97.5%;

    width: $size;
    height: $size;
    transition: 0.3s;
    background: inherit;
    color: inherit;
  }
}

$btn-size: 3em;

.nav-link {
  $size: $btn-size;

  min-height: $size;
  height: $size;
  min-width: $size;
  width: $size;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 1rem;
  padding: 0.75em;
  font-size: 1rem;
  color: white !important;
  opacity: 0.55;
  text-transform: uppercase !important;
  transition: 0.3s, font-weight 0s;
  position: relative;

  &.active {
    opacity: 1;
    font-weight: bold;

    &::before {
      background: $theme-gradient;
      border-color: #fff;
    }

    .profile-photo {
      $size: 85%;

      width: $size;
      height: $size;
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
    font-weight: bolder;

    &::before {
      transform: rotateZ(-60deg) scale(1.09);
      border-right-color: #eee;
      border-left-color: #eee;
    }
  }

  &::before {
    @include before-or-after($br: 50%, $bg: rgba(255, 255, 255, 0.125));
    transition: border-color 0.1s,
      transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 0.15rem solid transparent;
  }

  .nav-label {
    display: none;
  }

  .icon {
    font-size: 1.4em;
  }
}

.drawer {
  .menu-button {
    $size: $btn-size - 1em;

    max-height: $size;
    max-width: $size;
    margin-left: 0.0625em;
    transition: 0.3s;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.drawer-nav {
  .search {
    display: none;
  }

  a {
    text-decoration: none;
    border-radius: 0 !important;
  }

  .nav-links-wrapper {
    flex-direction: column;
    padding: 2em 0;
  }

  .nav-link {
    padding: 0.85em;
    width: auto;
    margin: 0 0.5em;
    margin-top: 0.5em;
    justify-content: flex-start;

    &:hover,
    &:focus {
      border-bottom-color: transparent;
    }

    &:before {
      height: $btn-size - 0.125em;
      width: $btn-size - 0.125em;
      left: 0.125em;
    }

    .icon {
      position: absolute;
    }

    .nav-label {
      display: inline-block;
      transform: translateX(3em);
    }
  }

  .search {
    color: white;
    margin: 0;
    margin-top: 3rem;
    border-radius: 0;
    height: 3em;
    padding: 2em 1.15em;
    width: 100% !important;
    order: 1;
  }

  .MuiDrawer-paper {
    width: 70%;
    overflow-x: hidden;
    background: $theme-primary-v3;
    max-width: 300px;
  }
}
