.Post {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.Post,
.Reply {
  // @include debugger();
  background-color: white;
  position: relative;
  font-size: 1rem;
  border-radius: 1em;
  margin-bottom: 0.85rem;

  &.remove-skeleton-animation {
    [class*='skeletonStyles'] {
      animation: unset !important;
    }
  }

  .container,
  .row,
  .col {
    margin: 0;
    padding: 0;
  }

  small {
    display: inline-block;
    color: $theme-tertiary-v6;

    &.extra {
      display: block;
      font-size: 0.8em;
      font-weight: bold;
      overflow: hidden;
      margin-bottom: -0.25em;
      margin-left: 0.75em;
      width: calc(100% - 1.5em);
      border-bottom: 0.0625em solid #eee;
      padding: 0.35em 0.75em 0.35rem 5em;
    }
  }

  .post-header {
    padding: 0.75em 0.75em 0;
  }

  .post-avatar {
    $size: 2.5em;

    height: $size;
    width: $size;
  }

  .post-body {
    .text {
      padding: 0.75em 0.5em;
      width: 100%;
      cursor: pointer;
      font-weight: 500;
      border: 0.25em dashed transparent;
      border-top: none;
      border-bottom: none;

      &:hover,
      &:focus {
        border-color: #ccc;
      }
    }
  }

  .post-footer {
    padding: 0.25em 0;
    width: calc(100% - 1.5rem);
    margin-left: 0.75em;
    border-top: 0.125em solid #eee;
    border-bottom: 0.125rem solid #eee;
  }

  .reaction-wrapper {
    max-width: 5em;
    padding: 0;

    button {
      max-height: 2.25em;
      border-radius: 2em;
      font-size: 0.95em;

      &:hover,
      &:focus {
        path {
          stroke: transparent;
        }
      }
    }

    &:first-child,
    &:nth-child(2) {
      svg {
        font-size: 1.85em;
        margin: 0 0 0 -0.25em;
      }
    }

    &:nth-child(2) {
      margin-left: -0.5em;
    }

    &:last-child {
      path {
        stroke: transparent;
      }
    }

    svg {
      font-size: 1.35em;
      margin-right: 0.25em;
      color: $theme-tertiary-v4;
    }

    path {
      stroke: white;
      transition: 0.25s;
    }
  }
}

.Comment {
  height: 0;
  opacity: 0;
  transition: 0.3s, opacity 0.4s;
  overflow: hidden;
  margin-left: 0.75rem;
  width: calc(100% - 1.5rem);

  &.open {
    opacity: 1;
  }

  &.anchor-is-parent {
    height: auto;
  }

  .comment-container {
    padding: 0.35em 0;
    align-items: center;
    border-bottom: 0.125rem solid #eee;

    .MuiInputBase-root {
      padding: 0.495em 0.25em;
    }
  }

  .comment-avatar {
    $size: 1.85em;

    margin-right: 0.35em;
    width: $size;
    align-self: flex-end;
    height: $size;
  }

  .comment-field {
    flex-grow: 1;
    height: auto;
    max-width: calc(100% - 7.75em);

    > div.MuiInputBase-root {
      background: #fff;
      border: 0.0625em solid #eee;
      border-radius: 1.25em;
      padding: {
        left: 0.5em;
        right: 0.5em;
      }
      transition: 0.3s;

      &.Mui-focused {
        background-color: #eee;
        border-color: transparent;
      }
    }
  }

  .comment-button {
    align-self: flex-end;
    margin-left: 0.5em;
    border-radius: 2em;

    &:disabled {
      background-color: #eee !important;
      color: #aaa !important;
    }
  }
}

.Quoted-Post {
  border-radius: 0.75rem;
  border: 0.125rem solid #ddd;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.035);

  .post-avatar {
    $size: 2.15em;

    height: $size;
    width: $size;
  }
}

.Reply {
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem 0 0.75rem;
  border-radius: unset !important;
  margin-bottom: 0;

  &:last-child {
    .post-footer {
      border-bottom: none;
    }

    .comment-container {
      border-top: 0.0625rem solid #eee;
      border-bottom: none;
    }
  }

  .post-header {
    padding: 0;

    small {
      margin-top: -0.15rem;
    }
  }

  .post-body {
    border-radius: 0.5rem;
    margin: 0.25rem 0 0.25rem 2.85rem;
    width: calc(100% - 2.85rem);
    background-color: #eee;

    .text {
      cursor: unset;
      border: none;
    }
  }

  .post-avatar {
    $size: 1.95em;

    margin-right: 0 !important;
    margin-top: -0.15rem;
    height: $size;
    width: $size;
  }

  .post-footer {
    width: calc(100% - 2.85rem);
    margin-left: 2.85rem;
    margin-top: -0.25rem;
    border-top: none;
    padding: 0.25rem 0;
    border-bottom: 0.0625rem solid #eee;
  }

  .Comment {
    width: calc(100% - 2.85rem);
    margin-left: 2.85rem;

    .comment-field {
      max-width: calc(100% - 8.5em);
    }

    .comment-container {
      padding: 0.35em 0;
      align-items: center;
      border-bottom: 0.0625rem solid #eee;

      .MuiInputBase-root {
        padding: 0.495em 0.5em;
      }
    }
  }
}

#float-button-no-uploads {
  height: 1.5rem !important;
  float: right;
  background-color: #8ba22a;
  padding-top: 0.25;
}
