.Post {
  box-shadow: 0 0.0625rem 0 #bbb, 0 0 0.125rem 0 #bbb;
  overflow: hidden;
}

.Post,
.Reply {
  // @include debugger();
  background-color: white;
  position: relative;
  font-size: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;

  &.remove-skeleton-animation {
    [class*='skeletonStyles'] {
      animation: unset !important;
    }
  }

  &.has-replies {
    .post-footer {
      border-bottom: 0.125rem solid #eee;
    }

    .Comment {
      .comment-container {
        border-top: none;
        border-bottom: 0.125rem solid #eee;
      }
    }
  }

  &.has-media {
    .post-footer {
      border-top: none;
    }
  }

  &.has-quote {
    .QuotedPost {
      margin: 0.75rem 1rem 0 1rem;
    }
  }

  .container,
  .row,
  .col {
    margin: 0;
    padding: 0;
  }

  small {
    display: inline-block;
    color: $theme-tertiary-v6;

    &.extra {
      display: block;
      color: $theme-tertiary-v5;
      font-size: 0.8em;
      overflow: hidden;
      margin-bottom: -0.25em;
      margin-left: 1em;
      width: calc(100% - 2em);
      border-bottom: 0.0625em solid #eee;
      padding: 0.35em 0.75em 0.35rem 5em;
    }

    b {
      font-weight: bold;
    }
  }

  .post-header {
    padding: 0.75em 1em 0;
  }

  .post-avatar {
    $size: 2.5em;

    height: $size;
    width: $size;
  }

  .post-body {
    .text {
      padding: 0.75em 0.75em;
      width: 100%;
      cursor: pointer;
      font-weight: 500;
      border: 0.25em dashed transparent;
      border-top: none;
      border-bottom: none;

      &:hover,
      &:focus {
        border-color: #ccc;
      }
    }
  }

  .media-container {
    width: 100%;
    border-top: 0.0625rem solid #eee;
    border-bottom: 0.0625rem solid #eee;
  }

  .post-footer {
    padding: 0.35em 0;
    width: calc(100% - 2rem);
    margin-left: 1em;
    border-top: 0.125em solid #eee;
    // border-bottom: 0.125rem solid #eee;
  }

  .reaction-wrapper {
    max-width: 4.75em;
    padding: 0;

    button {
      max-height: 2em;
      border-radius: 2em;
      font-size: 0.95em;
      background-color: rgba(0, 0, 0, 0.05);

      &:hover,
      &:focus {
        background-color: #eee;

        path {
          stroke: transparent;
        }
      }
    }

    &:first-child,
    &:nth-child(2) {
      svg {
        font-size: 1.85em;
        margin: 0 0 0 -0.25em;
      }
    }

    &:nth-child(2) {
      margin-left: -0.35em;
    }

    &:last-child {
      path {
        stroke: transparent;
      }
    }

    svg {
      font-size: 1.35em;
      margin-right: 0.25em;
      color: $theme-tertiary-v4;
    }
  }
}

.Comment {
  height: 0;
  opacity: 0;
  transition: 0.3s, opacity 0.4s;
  overflow: hidden;
  padding: 0 1rem;

  &.open {
    opacity: 1;
  }

  &.anchor-is-parent {
    height: auto;
  }

  .comment-container {
    padding: 0.35em 0;
    align-items: center;
    border-top: 0.125em solid #eee;

    .MuiInputBase-root {
      padding: 0.495em 0.25em;
    }
  }

  .comment-avatar {
    $size: 1.85em;

    margin-right: 0.35em;
    width: $size;
    align-self: flex-end;
    height: $size;
  }

  .comment-field {
    flex-grow: 1;
    height: auto;
    max-width: calc(100% - 7.75em);

    > div.MuiInputBase-root {
      background: #fff;
      border: 0.0625em solid #eee;
      border-radius: 1.25em;
      padding: {
        left: 0.5em;
        right: 0.5em;
      }
      transition: 0.3s;

      &.Mui-focused {
        background-color: #eee;
        border-color: transparent;
      }
    }
  }

  .comment-button {
    align-self: flex-end;
    margin-left: 0.5em;
    border-radius: 2em;

    &:disabled {
      background-color: #eee !important;
      color: #aaa !important;
    }
  }
}

.QuotedPost {
  border-radius: 0.75rem;
  border: 0.125rem solid #ddd;
  padding: 0.5rem;
  margin: 0 1rem 0.75rem 1rem;
  width: calc(100% - 2rem);
  cursor: pointer;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.035);

  .post-avatar {
    $size: 2.15em;

    height: $size;
    width: $size;
  }
}

.Reply {
  font-size: 0.9em;
  padding: 0.5em 1em 0 1em;
  border-radius: unset !important;
  margin-bottom: 0;

  &:last-child {
    .post-footer {
      border-bottom: none;
    }

    .comment-container {
      border-top: 0.0625em solid #eee !important;
      border-bottom: none !important;
    }
  }

  .post-header {
    padding: 0 !important;

    small {
      margin-top: -0.15em;
    }
  }

  .display-name-wrapper {
    padding: 0.25em 0.5em;
    background-color: #f0f0f0;
    margin-left: 0.55em;
    border-radius: 0.75em 0.75em 0 0;
  }

  .post-body {
    border-radius: 0 0 0.75em 0.75em;
    margin: 0 0 0.25em 3.25em;
    width: calc(100% - 3.25em);
    background-color: #f0f0f0;

    .text {
      padding: 0 0.5em 0.5em !important;
      cursor: unset;
      border: none;
    }
  }

  .post-avatar {
    $size: 1.95em;

    margin-right: 0 !important;
    margin-top: -0.15em;
    height: $size;
    width: $size;
  }

  .post-footer {
    width: calc(100% - 3.25em) !important;
    margin-left: 3.25em !important;
    margin-top: -0.25em;
    border-top: none;
    padding: 0.25rem 0;
    border-bottom: 0.0625em solid #eee;
  }

  .reaction-wrapper {
    max-width: 5em;
    padding: 0;
  }

  .Comment {
    padding: 0 0 0 2.85em;

    .comment-field {
      max-width: calc(100% - 8.5em);
    }

    .comment-container {
      padding: 0.35em 0;
      align-items: center;
      border-bottom: 0.0625em solid #eee;

      .MuiInputBase-root {
        padding: 0.495em 0.5em;
      }
    }
  }
}

.reaction-button {
  transition: 0.3s;

  &.reaction-upvote {
    $color: rgb(0, 150, 0);

    background-color: rgba(0, 150, 0, 0.2) !important;
    color: $color;

    svg {
      color: $color;
    }

    &:hover,
    &:focus {
      background-color: rgba(0, 150, 0, 0.25) !important;
    }
  }

  &.reaction-downvote {
    $color: rgb(190, 0, 0);

    background-color: rgba(190, 0, 0, 0.175) !important;
    color: $color;

    svg {
      color: $color;
    }

    &:hover,
    &:focus {
      background-color: rgba(190, 0, 0, 0.25) !important;
    }
  }

  &.reposted {
    color: $theme-primary-v7;

    svg {
      color: $theme-primary-v7;
    }
  }

  &:hover,
  &:focus {
    background-color: #ddd;
  }
}

#float-button-no-uploads {
  height: 1.5rem !important;
  float: right;
  background-color: #8ba22a;
  padding-top: 0.25;
}
