.Post,
.Reply {
  // @include debugger();
  background-color: white;
  position: relative;
  border-radius: 0.85rem;
  margin-bottom: 0.85rem;
  box-shadow: 0 0rem 0.5rem inset rgba(0, 0, 0, 0.15),
    0 0.05rem 0.1rem rgba(0, 0, 0, 0.15);

  .container,
  .row,
  .col {
    margin: 0;
    padding: 0;
  }

  small {
    display: inline-block;
    color: $theme-tertiary-v6;

    &.extra {
      display: block;
      font-size: 0.8rem;
      font-weight: bold;
      overflow: hidden;
      margin: 0 0 -0.65rem 3.75rem;
      padding: 0.35rem 0.75rem 0;
    }
  }

  .post-header {
    padding: 0.75rem 0.75rem 0;
  }

  .post-avatar {
    $size: 3rem;

    height: $size;
    width: $size;
  }

  .post-body {
    .text {
      padding: 0.75rem;
      width: 100%;
      cursor: pointer;
      font-weight: 500;
    }
  }

  .post-footer {
    padding: 0.25rem 0.75rem;
    border-top: 0.0625rem solid #eee;
  }

  .reaction-wrapper {
    max-width: 5rem;
    padding: 0;

    button {
      max-height: 2.25rem;
      border-radius: 2rem;
      font-size: 0.95rem;

      &:hover,
      &:focus {
        path {
          stroke: transparent;
        }
      }
    }

    &:first-child,
    &:nth-child(2) {
      svg {
        font-size: 1.85rem;
        margin: 0 0 0 -0.25rem;
      }
    }

    &:nth-child(2) {
      margin-left: -0.5rem;
    }

    &:last-child {
      path {
        stroke: transparent;
      }
    }

    svg {
      font-size: 1.35rem;
      margin-right: 0.25rem;
      color: $theme-tertiary-v4;
    }

    path {
      stroke: white;
      transition: 0.25s;
    }
  }
}

.Reply {
  width: calc(100% - 2.5rem);
  margin: -0.75rem 0 1rem 2.5rem;
  border-left: 0.4rem solid $theme-tertiary-v9;
}

.Comment {
  height: 0;
  opacity: 0;
  transition: 0.3s, opacity 0.4s;
  overflow: hidden;

  &.open {
    opacity: 1;
  }

  &.anchor-is-parent {
    height: auto;
  }

  .comment-container {
    padding: 0.35rem 0.75rem;
    align-items: center;
    border-top: 0.0625rem solid #eee;

    .MuiInputBase-root {
      padding: 0.495rem 0.25rem;
    }
  }

  .comment-avatar {
    $size: 2.25rem;

    margin-right: 0.5rem;
    width: $size;
    align-self: flex-end;
    height: $size;
  }

  .comment-field {
    flex-grow: 1;
    height: auto;
    max-width: calc(100% - 7.75rem);

    > div.MuiInputBase-root {
      background: #fff;
      border: 0.0625rem solid #eee;
      border-radius: 1.25rem;
      padding: {
        left: 0.5rem;
        right: 0.5rem;
      }
      transition: 0.3s;

      &.Mui-focused {
        background-color: #eee;
        border-color: transparent;
      }
    }
  }

  .comment-button {
    align-self: flex-end;
    margin-left: 0.5rem;
    border-radius: 2rem;

    &:disabled {
      background-color: #eee !important;
      color: #aaa !important;
    }
  }
}
