.upload-div-wrapper {
  transition: 0.3s;
  padding-right: 0.18rem !important;
  padding-left: 0.18rem !important;

  .img { 
    width: 100%; 
    border-width: 0.312rem; 
    border-radius: 0.312rem;
  }
}

.upload-remove-img-btn {
  padding: 0rem;
  position: absolute;
  font-size: 0.75rem;
  font-weight: bolder;
  height: 1.25rem;
  width: 1.25rem;
  top: -0.5em;
  right: -0.5em;
  z-index: 2;
  color: white;
  border: none;
  background: orange;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 50%;

  &:hover
  {
    background: orangered;
  }
}

.upload-label {
  color: red;
  font-size: small;
  display: none;
  margin: 0rem;
  margin-left: auto;
  margin-right: auto;
}

#upload-grid-box {
  max-height: 15rem;
  overflow-y: auto;
  padding: {
    top: 0.5rem;
    left: 0;
    right: 0;
  }
  display: flex !important;
  flex-wrap: wrap;
}

#grid-box-uploads {
  display: flex;
  flex-wrap: wrap;
}

.upload-drop-menu {
  background-color:#ddd;
  color: black;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

#dropdown {
  background-color: white;
  border: none;
}

#upload-divider {
  height: 0.0625rem;
  background-color: white;
  background-image: none;
}

.upload-menu-options {
  cursor: pointer;
  padding-left: 0.312rem;
  padding-right: 0.312rem;
  display: block;
  
  &:hover {
    background-color: #aaa;
  }
}

.scroll-image {
  overflow-y: auto;
  max-height: 15.625rem;
  width: 100%;
}

.check-button {
  position: absolute;
  font-size: 0.75rem;
  font-weight: bolder;
  height: 1.25rem;
  width: 1.25rem;
  top: 0rem;
  right: 0.1875rem;
  z-index: 2;
  color: white;
  border: 0.0625rem solid white;
  background-color: grey;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 50%;
}

.check-button-selected {
  position: absolute;
  font-size: 0.75rem;
  font-weight: bolder;
  height: 1.25rem;
  width: 1.25rem;
  top: 0rem;
  right: 0.1875rem;
  z-index: 2;
  color: white;
  border: none;
  background-color: green;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 50%;
}

.upload-non-image-files {
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 0.0625rem solid green;
  border-radius: 0.3125rem;
  max-height: 8.5em;
}

.non-image-uploads {
  height: 96%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border: 0.0625rem solid green;
  border-radius: 0.3125rem;
  margin-bottom: 0.3rem;
}

#upload-float-button {
  float: right;
}

.upload-select-header {
  width: 7em;
  margin: auto; 
  line-height: 2.1875rem;
  font-weight: bold; 
}

#upload-grid-box1 {
  display: flex;
  flex-wrap: wrap;
}

.bold {
  font-weight: 1000;
}

.upload-relative {
  position: relative !important;
  width: 31% !important;
  margin: 1%;
}

.no-uploads {
  margin: auto;
  margin-top: -0.3em !important;
  margin-bottom: 0em;
  margin-left: 25%;
}

.upload-div-wrapper1 {
  transition: 0.3s;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  // width: 4em;
  // height: 4em;

  .img { 
    width: 100%; 
    border-width: 0.3125rem; 
    border-radius: 0.3125rem;
  }
}