@import '../constants';

$chat-text-color: $theme-tertiary-v1;
$chat-header-min-height: 3.75rem;

.ChatBox {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  line-height: 125%;
  color: $chat-text-color;
  z-index: 1200;

  * {
    color: inherit;
  }

  button {
    transition: 0.35s;
  }

  a {
    text-decoration: none;
  }

  .chat-timestamp,
  .tab-panel-item {
    [class*='Icon'] {
      font-size: 1.05rem;
      margin-bottom: -0.2rem;
      margin-left: 0.1rem;
      color: rgba(0, 0, 0, 0.35);
      transition: 0.3s;

      &.read {
        color: rgba(25, 160, 205, 1);
        animation: scale 0.75s;
      }

      @keyframes scale {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.35);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}

body,
.ChatBox {
  &,
  .tab-panel-item {
    .online {
      .MuiBadge-dot {
        background-color: limegreen !important;
      }
    }

    .away {
      .MuiBadge-dot {
        background-color: orange !important;
      }
    }

    .offline {
      .MuiBadge-dot {
        background-color: #999 !important;
      }
    }

    .MuiBadge-dot {
      transition: 0.35s;
      background-color: $error;
    }
  }
}

.chat-button {
  $size: 3.25rem;

  background-color: $theme-secondary-v5;
  color: white;
  position: relative;
  height: $size !important;
  width: $size !important;
  right: $size + 1rem;
  bottom: $size + 1rem;
  font-size: 1.85rem !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $theme-secondary-v4;
  }

  &.hide {
    transform: scale(0);
  }

  &.ripple {
    &::before,
    &::after {
      @include before-or-after(
        $h: 100%,
        $w: 100%,
        $bg: transparent,
        $br: inherit
      );
      border: 0.125rem solid $theme-secondary-v5;
      animation: chatButtonRipple 2s infinite;
    }

    &::after {
      animation-delay: 0.5s;
    }

    @keyframes chatButtonRipple {
      from {
        opacity: 1;
        transform: scale(0.85);
      }
      to {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }

  [class*='MuiBadge-badge'] {
    $size: 1.25rem;

    height: $size;
    width: $size;
    border-radius: 1rem;
    font-size: 0.9rem;
    top: -0.3rem;
    right: -0.5rem;
  }
}

.chat-box-wrapper {
  $box-height: 100%;
  $box-width: 100%;

  // overflow: hidden;
  position: fixed;
  width: $box-width;
  height: $box-height;
  max-height: 100vh;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
  left: 0;
  top: 0;
  display: none;
  right: 0;
  transition: transform 0.35s, opacity 0.3s;
  transition-delay: 0.65s;

  &.minimize {
    transform: translateY(calc(100% - #{$chat-header-min-height}));
  }

  &.close {
    transition-delay: 0s;
    transform: scale(0) translateY(150vh);
    opacity: 0;
  }

  &.visible {
    display: flex !important;
  }

  &.hidden {
    display: none !important;
  }
}

.ChatBox header {
  box-shadow: 0 0 1.75rem rgba(0, 0, 0, 0.2);
}

header.chat-header {
  position: relative;
  font-weight: bold;
  z-index: 4;
  flex: none;
  background: inherit;
  background-color: white;
  min-height: $chat-header-min-height;
  max-height: $chat-header-min-height;
  // @include debugger();
}

.chat-avatar {
  $size: 2.75rem;

  height: $size;
  width: $size;
  border-radius: 50%;
  color: $chat-text-color;

  + .MuiBadge-dot {
    $size: 0.925rem;

    border-radius: 50%;
    border: 0.2rem solid white;
    height: $size;
    width: $size;
    right: 20%;
  }
}

.conversation-name-wrapper,
.controls,
.control-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.controls {
  justify-content: flex-end;
  max-width: 6.5rem;
}

.header-name-control-wrapper {
  max-width: 100%;
  // @include debugger();
}

body.desktop {
  .ChatBox {
    .custom-scroll-bar,
    textarea,
    #msg-box {
      &::-webkit-scrollbar {
        width: 0.55em;
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
      }

      &.grey-scrollbar {
        &::-webkit-scrollbar-thumb {
          background: #555;
        }
        *::-webkit-scrollbar-thumb {
          background: #555;
        }
      }

      & + .scroll-bar-fader {
        // pointer-events: none;

        @include before-or-after(
          $w: 0.5rem,
          $l: unset,
          $r: 0,
          $bg: inherit,
          $zi: 2,
          $t: 0
        );
      }

      &:hover {
        & + .scroll-bar-fader {
          opacity: 0;
          z-index: -1;
        }
      }

      & + .scroll-bar-fader {
        &:hover {
          opacity: 0;
          z-index: -1;
        }
      }
    }
  }
}
