.chat-middle-pane {
  // @include debugger();
  position: relative;

  .title-control-wrapper {
    flex-grow: 1;

    &.hide {
      visibility: hidden;
    }
  }

  .colleague-name {
    max-width: 100%;
  }

  .display-name {
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(0);
    transition: 0.35s ease-out;

    &.status-hidden {
      transform: translateY(0.7rem);
    }
  }

  .status {
    color: $theme-tertiary-v6;
    font-size: 0.95rem;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    transition: 0.35s;

    &.show {
      opacity: 1;
    }
  }
}

.control-wrapper {
  button {
    padding: 0.5rem;
    font-size: 1.35rem !important;
  }

  &.conversations-menu-button-wrapper {
    display: none;
  }

  &.more-options-wrapper {
    display: none;
  }

  .back-button {
    display: none;
  }
}

.more-options-container {
  $transition: 0.3s ease 0.25s, background-color 0.3s;

  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  opacity: 0;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  perspective: 3rem;
  transform: translateX(1.5rem);
  transition: $transition;

  button {
    transform: rotateY(-30deg) translateX(-3rem);
    transition: $transition;
  }

  &.show {
    opacity: 1;
    transform: translateX(0);

    button {
      transform: rotateY(0) translateX(0);
    }

    &.transform-upwards {
      transform: translateX(0) translateY(calc(-100% - 4.75rem));
    }
  }

  &.transform-upwards {
    transform: translateX(1.5rem) translateY(calc(-100% - 4.75rem));
  }

  button {
    box-shadow: none !important;
    background: none;
    padding-right: 0.8rem;
    display: inline-flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 0.95rem !important;
    border-radius: 0;
    color: $theme-tertiary-v2;
    border-bottom: 0.0625rem solid #eee;

    &:last-child {
      border-bottom: none;
    }

    &:hover,
    &:focus {
      background-color: #ddd;
    }
  }

  [class*='Icon'] {
    font-size: 1.25rem;
    margin-right: 0.75rem;
  }
}

.message-actions-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: 0.35s;

  &.visible {
    visibility: visible;
    opacity: 1;
    z-index: 5;
  }
}

.message-actions-container {
  // @include debugger();

  justify-content: space-between;
  align-items: center;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  margin: 0;
  transform: translateY(100%);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.open {
    transform: translateY(0);
  }

  * {
    font-weight: 600 !important;
  }
}

.chat-scroll-view {
  $pad-x: 1.5rem;

  padding: 0.5rem $pad-x 1rem $pad-x;
  overflow-x: hidden;
  position: relative;

  &.custom-scroll-bar {
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.15) !important;
    }
  }

  &.add-scroll-padding {
    .chat-date-wrapper {
      width: calc(100% + #{$pad-x / 2});
    }

    .outgoing {
      .msg-wrapper {
        transform: translateX(0.5rem);
      }
    }

    &:hover {
      .outgoing {
        .msg-wrapper {
          transform: translateX(0);
        }
      }
    }

    &.scroll-ended {
      &:hover {
        .outgoing {
          .msg-wrapper {
            transform: translateX(0.5rem);
          }
        }

        & + .scroll-bar-fader {
          transition: opacity 0.5s !important;
          opacity: 1 !important;
          z-index: 2 !important;

          &:hover {
            opacity: 0 !important;
            z-index: -1 !important;
          }
        }
      }
    }
  }

  .more-messages-loader {
    transition: 0.3s;
    position: absolute;
    width: 100%;
    top: 0.75rem;
    left: 0;

    &.hide {
      transition: unset;
    }
  }

  & ~ .messages-status-signal {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s;
  }

  &.hide-messages {
    overflow: hidden;

    .msg-container {
      opacity: 0;
      visibility: hidden;
    }

    .chat-date-wrapper {
      opacity: 0;
      visibility: hidden;
    }

    & ~ .messages-status-signal {
      opacity: 1;
      z-index: 2;
      visibility: visible;
    }
  }
}

$incoming-outgoing-spacing: 1.25rem;
$msgs-spacing: 0.1875rem;
$msg-radius: 1.25rem;

.scroll-view-msg {
  padding: 0.5rem 0.65rem;
}

body.mobile {
  .chat-scroll-view {
    padding: 1rem;
  }

  .msg-container {
    &.last-message.incoming,
    &.delayed.incoming,
    &.incoming {
      .msg-wrapper {
        &::before {
          left: -$msg-radius + 0.65rem !important;
          clip-path: polygon(0 0, 80% 0, 70% 75%, 0 0.25rem, 0 0);
        }
      }
    }

    &.last-message.outgoing,
    &.delayed.outgoing,
    &.outgoing {
      .msg-wrapper {
        transform: translateX(0);

        &::before {
          right: -$msg-radius + 0.65rem;
          clip-path: polygon(20% 0, 100% 0, 100% 0.25rem, 30% 75%, 0 0);
        }
      }
    }

    &.last-message.outgoing {
      .msg-wrapper {
        animation: outgoingMessageSlideInForMobile 1s;
      }
    }
  }

  @keyframes outgoingMessageSlideInForMobile {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

body.mobile {
  .chat-scroll-view {
    padding: {
      right: 1rem;
      left: 1.25rem;
    }
  }

  .msg-container {
    &.outgoing .msg-wrapper {
      transform: translateX(-0.25rem) !important;
    }

    .last-message {
      &.outgoing .msg-wrapper {
        animation: outgoingMessageSlideInForMobile 1s !important;
      }
    }
  }

  @keyframes outgoingMessageSlideInForMobile {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
    to {
      opacity: 1;
      transform: translateX(-0.25rem);
    }
  }
}

.msg-container {
  position: relative;
  user-select: none;
  cursor: pointer;
  opacity: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s;

  &.deleted {
    font-style: italic;
    color: $theme-tertiary-v6;
  }

  &::after {
    @include before-or-after(
      $tr: 0.2s,
      $zi: unset,
      $w: calc(100% + 4rem),
      $h: calc(100% + 0.19rem),
      $l: -2rem,
      $t: unset,
      $b: -0.125rem,
      $bg: rgba($prim-r + 50, $prim-g + 50, $prim-b + 50, 0.35)
    );
    transform: scale(1, 0);
  }

  &:focus {
    &.outgoing .msg-wrapper {
      background-color: $theme-secondary-v7;
      transition: transform 0.35s, background-color 0.35s, border-radius 0.35s;

      &::before {
        background-color: $theme-secondary-v7;
      }
    }

    &.incoming .msg-wrapper {
      background-color: $theme-tertiary-v7;
      transition: transform 0.35s, background-color 0.35s, border-radius 0.35s;

      &::before {
        background-color: $theme-tertiary-v7;
      }
    }
  }

  &.selected {
    &,
    &.deleted {
      &::after {
        transform: scale(1, 1);
      }
    }

    &,
    &.deleted {
      &.outgoing {
        .msg-wrapper {
          transition: transform 0.35s, background-color 0.35s,
            border-radius 0.35s;
          transform: translateX(-1.5rem) !important;
        }
      }

      &.incoming {
        .msg-wrapper {
          transition: transform 0.35s, background-color 0.35s,
            border-radius 0.35s;
          transform: translateX(1.5rem);
        }
      }
    }
  }

  &.last-message {
    &.incoming {
      .msg-wrapper {
        animation: incomingMessageSlideIn 1s;
      }
    }

    &.outgoing {
      .msg-wrapper {
        animation: outgoingMessageSlideIn 1s;
      }
    }
  }

  @keyframes outgoingMessageSlideIn {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0.5rem);
    }
  }

  @keyframes incomingMessageSlideIn {
    from {
      opacity: 0;
      transform: translateX(-2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  $br: 0.35rem;

  &.incoming {
    margin: 0;

    .msg-wrapper {
      $bg-color: #e8e8e8;

      background: $bg-color;

      &::before {
        background-color: $bg-color;
        top: 0;
        left: -$msg-radius + 0.5rem;
        clip-path: polygon(0 0, 80% 0, 70% 60%, 0 0.25rem, 0 0);
      }
    }

    &.first {
      .msg-wrapper {
        border-radius: 0 $msg-radius $msg-radius $br;
      }
    }

    &.only {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius;
      }
    }

    &.middle {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius $br;
      }
    }

    &.last {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius;
      }
    }

    + .incoming.msg-container {
      margin-top: $msgs-spacing;

      .msg-wrapper {
        &::before {
          background-color: transparent;
        }
      }

      &.delayed {
        .msg-wrapper {
          &::before {
            background-color: #e8e8e8;
          }
        }

        &:focus {
          .msg-wrapper {
            &::before {
              background-color: $theme-tertiary-v7;
            }
          }
        }
      }
    }
  }

  &.incoming + .outgoing.msg-container {
    margin-top: $incoming-outgoing-spacing !important;
  }

  &.outgoing {
    text-align: right;
    margin: 0;

    .msg-wrapper {
      $bg-color: $theme-secondary-v9;

      background: $bg-color;
      align-self: flex-end;

      &::before {
        background-color: $bg-color;
        top: 0;
        right: -$msg-radius + 0.5rem;
        clip-path: polygon(20% 0, 100% 0, 100% 0.25rem, 30% 60%, 0 0);
      }
    }

    &.first {
      .msg-wrapper {
        border-radius: $msg-radius 0 $br $msg-radius;
      }
    }

    &.only {
      .msg-wrapper {
        border-radius: $msg-radius $br $msg-radius $msg-radius;
      }
    }

    &.middle {
      .msg-wrapper {
        border-radius: $msg-radius $br $br $msg-radius;
      }
    }

    &.last {
      .msg-wrapper {
        border-radius: $msg-radius $br $msg-radius $msg-radius;
      }
    }

    + .outgoing.msg-container {
      margin-top: $msgs-spacing;

      .msg-wrapper {
        &::before {
          background-color: transparent;
        }
      }

      &.delayed {
        .msg-wrapper {
          &::before {
            background-color: $theme-secondary-v9;
          }
        }

        &:focus {
          .msg-wrapper {
            &::before {
              background-color: $theme-secondary-v7;
            }
          }
        }
      }
    }
  }

  &.outgoing + .incoming.msg-container {
    margin-top: $incoming-outgoing-spacing !important;
  }

  .msg-wrapper {
    transition: transform 0.5s, opacity 0.5s;
    padding: 0.5rem 0.6rem;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    width: auto;
    max-width: 85%;
    box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.25);

    &::before {
      position: absolute;
      content: ' ';
      background: transparent;
      height: $msg-radius + 0.25rem;
      width: $msg-radius + 0.25rem;
      z-index: 0;
      transition: inherit;
    }
  }

  [class*='Icon'] {
    margin-bottom: -0.175rem;
    font-size: 1.1rem;
  }
}

.chat-msg-box {
  $height: 3.25rem;

  position: relative;
  z-index: 3;
  display: flex;
  flex-grow: 0.3;
  min-height: $height;
  max-height: $height;
  background-color: white;
}

.msg-box-wrapper,
.emoji-wrapper,
.send-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.emoji-wrapper,
.send-wrapper {
  z-index: 1;
  justify-content: center !important;

  button {
    padding: 0.5rem;
    font-size: 1.35rem !important;
  }
}

.msg-box-wrapper {
  min-width: calc(100% - 6.5rem);
}

.MuiOutlinedInput-multiline {
  border: none;
  padding: 0.5em;
  background-color: #f4f4f4;

  * {
    border: none !important;
  }
}

.msg-box {
  position: absolute;
  bottom: 0.4rem;
  z-index: 1;

  &::before {
    position: absolute;
    bottom: -0.425rem;
    right: 0;
    left: -3.25rem;
    content: ' ';
    background: #eee;
    height: calc(100% + 0.75rem);
    width: calc(100% + 6.5rem);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.075);
    z-index: 0;
  }

  > div.MuiInputBase-root {
    background: #fff;
    border-radius: 1.25rem;
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
}
