.chat-middle-pane {
  // @include debugger();
  position: relative;

  .title-control-wrapper {
    flex-grow: 1;

    &.hide {
      visibility: hidden;
    }
  }

  .display-name {
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    transform: translateY(0.05rem);
    transition: 0.35s ease-out;

    &.status-hidden {
      transform: translateY(0.75rem);
    }
  }

  .status {
    color: $theme-tertiary-v6;
    font-size: 0.95rem;
    opacity: 0;
    transition: 0.35s;

    &.show {
      opacity: 1;
    }
  }
}

.minimize-wrapper,
.close-wrapper {
  button {
    padding: 0.5rem;
    font-size: 1.35rem !important;
  }

  .minimize-icon {
    line-height: 100%;
    padding: 0.05rem 0.2rem;
    height: 100%;
  }
}

.message-actions-container {
  // @include debugger();

  justify-content: space-between;
  align-items: center;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  margin: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.open {
    visibility: visible;
    transform: translateY(0);
  }

  * {
    font-weight: 600 !important;
  }
}

.chat-scroll-view {
  $pad-x: 1.25rem;

  padding: 0.5rem $pad-x 1rem $pad-x;
  overflow-x: hidden;
  position: relative;
  transition: padding-right 0.25s;

  &.add-scroll-padding {
    .chat-date-wrapper {
      width: calc(100% + #{$pad-x / 2});
    }

    .outgoing {
      .msg-wrapper {
        transform: translateX(0.5rem);
      }
    }

    &:hover {
      .outgoing {
        .msg-wrapper {
          transform: translateX(0);
        }
      }
    }

    &.scroll-ended {
      &:hover {
        .outgoing {
          .msg-wrapper {
            transform: translateX(0.5rem);
          }
        }

        & + .scroll-bar-fader {
          transition: 0.5s !important;
          opacity: 1 !important;
          z-index: 2 !important;

          &:hover {
            opacity: 0 !important;
            z-index: -1 !important;
          }
        }
      }
    }
  }

  & ~ .messages-status-signal {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }

  &.hide-messages {
    overflow: hidden;

    .msg-container {
      opacity: 0;
      visibility: hidden;
    }

    .chat-date-wrapper {
      opacity: 0;
      visibility: hidden;
    }

    & ~ .messages-status-signal {
      opacity: 1;
      z-index: 2;
      visibility: visible;
    }
  }
}

$incoming-outgoing-spacing: 1.25rem;
$msgs-spacing: 0.125rem;
$msg-radius: 1.25rem;

.scroll-view-msg {
  padding: 0.5rem 0.65rem;
  font-size: 0.95rem;
}

.msg-container {
  position: relative;
  // user-select: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;

  &.deleted {
    font-style: italic;
    color: $theme-tertiary-v6;
  }

  &::after {
    @include before-or-after(
      $tr: 0.2s,
      $zi: unset,
      $w: calc(100% + 4rem),
      $h: calc(100% + 0.125rem),
      $l: -2rem,
      $t: unset,
      $b: -0.0625rem,
      $bg: rgba($prim-r + 50, $prim-g + 50, $prim-b + 50, 0.35)
    );
    opacity: 0;
    transform: translateY(0.3rem);
  }

  &:focus {
    &.outgoing .msg-wrapper {
      background-color: $theme-secondary-v7;

      &::before {
        border-top-color: $theme-secondary-v7;
      }
    }

    &.incoming .msg-wrapper {
      background-color: $theme-tertiary-v7;

      &::before {
        border-top-color: $theme-tertiary-v7;
      }
    }
  }

  &.last-message {
    &.incoming {
      .msg-wrapper {
        animation: incomingMessageSlideIn 1s;
      }
    }

    &.outgoing {
      .msg-wrapper {
        animation: outgoingMessageSlideIn 1s;
      }
    }
  }

  @keyframes outgoingMessageSlideIn {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0.5rem);
    }
  }

  @keyframes incomingMessageSlideIn {
    from {
      opacity: 0;
      transform: translateX(-2rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &.selected {
    &,
    &.deleted {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &,
    &.deleted {
      &.outgoing {
        .msg-wrapper {
          transform: translateX(-1.5rem) !important;
        }
      }

      &.incoming {
        .msg-wrapper {
          transform: translateX(1.5rem);
        }
      }
    }
  }

  $br: 0.35rem;

  &.incoming {
    margin: 0;

    .msg-wrapper {
      $bg-color: $theme-tertiary-v9;

      background: $bg-color;

      &::before {
        border-top-color: $bg-color;
        top: 0;
        left: -$msg-radius + 0.6rem;
      }
    }

    &.first {
      .msg-wrapper {
        border-radius: 0 $msg-radius $msg-radius $br;
      }
    }

    &.only {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius;
      }
    }

    &.middle {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius $br;
      }
    }

    &.last {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius;
      }
    }

    + .incoming.msg-container {
      margin-top: $msgs-spacing;

      .msg-wrapper {
        &::before {
          border-color: transparent;
        }
      }

      &.delayed {
        .msg-wrapper {
          &::before {
            border-top-color: $theme-tertiary-v9;
          }
        }

        &:focus {
          .msg-wrapper {
            &::before {
              border-top-color: $theme-tertiary-v7;
            }
          }
        }
      }
    }
  }

  &.incoming + .outgoing.msg-container {
    margin-top: $incoming-outgoing-spacing !important;
  }

  &.outgoing {
    text-align: right;
    margin: 0;

    .msg-wrapper {
      $bg-color: $theme-secondary-v9;

      background: $bg-color;
      align-self: flex-end;

      &::before {
        top: 0;
        border-top-color: $bg-color;
        right: -$msg-radius + 0.6rem;
      }
    }

    &.first {
      .msg-wrapper {
        border-radius: $msg-radius 0 $br $msg-radius;
      }
    }

    &.only {
      .msg-wrapper {
        border-radius: $msg-radius $br $msg-radius $msg-radius;
      }
    }

    &.middle {
      .msg-wrapper {
        border-radius: $msg-radius $br $br $msg-radius;
      }
    }

    &.last {
      .msg-wrapper {
        border-radius: $msg-radius $br $msg-radius $msg-radius;
      }
    }

    + .outgoing.msg-container {
      margin-top: $msgs-spacing;

      .msg-wrapper {
        &::before {
          border-color: transparent;
        }
      }

      &.delayed {
        .msg-wrapper {
          &::before {
            border-top-color: $theme-secondary-v9;
          }
        }

        &:focus {
          .msg-wrapper {
            &::before {
              border-top-color: $theme-secondary-v7;
            }
          }
        }
      }
    }
  }

  &.outgoing + .incoming.msg-container {
    margin-top: $incoming-outgoing-spacing !important;
  }

  .msg-wrapper {
    transition: 0.5s;
    padding: 0.5rem 0.6rem;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    width: auto;
    max-width: 75%;

    &::before {
      position: absolute;
      content: ' ';
      background: transparent;
      height: 0;
      width: 0;
      border: $msg-radius - 0.5rem solid transparent;
      border-top-color: inherit;
      z-index: 0;
      transition: inherit;
    }
  }

  [class*='Icon'] {
    margin-bottom: -0.175rem;
    font-size: 1.1rem;
  }
}

.chat-timestamp-wrapper {
  font-size: 0.75rem;
  text-align: right;
  width: auto;
  float: right;
  line-height: 260%;
  color: #777;
  font-style: normal;
  margin: {
    right: -0.45rem;
    bottom: -0.75rem;
  }

  .chat-timestamp {
    padding: 0;
    padding: {
      right: 0.35rem;
      left: 0.75rem;
    }
    white-space: nowrap;
  }
}

.chat-date-wrapper {
  transition: 0.3s;

  &::before {
    @include before-or-after(
      $h: 0.0625rem,
      $t: calc(50% - 0.0625rem),
      $br: 0.25rem,
      $bg: #eee,
      $zi: unset
    );
  }
}

.chat-date {
  background: white;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;
  text-transform: capitalize;
  color: $theme-tertiary-v5;
  box-shadow: 0 0 0 1rem white;
  border: 0.0625rem solid $theme-tertiary-v9;
  user-select: none;
}

.chat-msg-box {
  $height: 3.25rem;

  position: relative;
  z-index: 3;
  display: flex;
  flex-grow: 0.3;
  min-height: $height;
  max-height: $height;
  background-color: white;
}

.msg-box-wrapper,
.emoji-wrapper,
.send-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.emoji-wrapper,
.send-wrapper {
  z-index: 1;
  justify-content: center !important;

  button {
    padding: 0.5rem;
    font-size: 1.35rem !important;
  }
}

.msg-box-wrapper {
  min-width: calc(100% - 6.5rem);
}

.MuiOutlinedInput-multiline {
  border: none;
  padding: 0.5em;
  background-color: #f4f4f4;

  * {
    border: none !important;
  }
}

.msg-box {
  position: absolute;
  bottom: 0.4rem;
  z-index: 1;

  &::before {
    position: absolute;
    bottom: -0.425rem;
    right: 0;
    left: -3.25rem;
    content: ' ';
    background: #eee;
    height: calc(100% + 0.75rem);
    width: calc(100% + 6.5rem);
    z-index: 0;
  }

  > div.MuiInputBase-root {
    background: #fff;
    border-radius: 1.25rem;
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
}
