@import '../constants';

$chat-text-color: #333;
$chat-header-min-height: 3.75rem;

.ChatBox {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  line-height: 125%;
  color: $chat-text-color;
  z-index: 1200;

  * {
    color: inherit;
  }

  button {
    transition: 0.35s;
  }

  .chat-timestamp,
  .tab-panel-item {
    [class*='Icon'] {
      font-size: 1.05rem;
      margin-bottom: -0.2rem;
      margin-left: 0.1rem;
      color: rgba(0, 0, 0, 0.35);
      transition: 0.3s;

      &.read {
        color: rgba(25, 160, 205, 1);
        animation: scale 0.75s;
      }

      @keyframes scale {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.35);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}

body,
.ChatBox {
  &,
  .tab-panel-item {
    .online {
      .MuiBadge-dot {
        background-color: limegreen !important;
      }
    }

    .away {
      .MuiBadge-dot {
        background-color: orange !important;
      }
    }

    .MuiBadge-dot {
      transition: 0.35s;
      background-color: #999;
    }
  }
}

.chat-button {
  $size: 3.25rem;

  background-color: $theme-secondary-v5;
  color: white;
  position: fixed;
  height: $size !important;
  width: $size !important;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.85rem !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $theme-secondary-v4;
  }

  &.hide {
    transform: scale(0);
  }

  [class*=MuiBadge-badge] {
    top: -0.2rem;
    right: -0.4rem;
  }
}

.chat-box-wrapper {
  $box-height: 100%;
  $box-width: 100%;

  overflow: hidden;
  position: fixed;
  width: $box-width;
  height: $box-height;
  max-height: 100vh;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
  left: 0;
  top: 0;
  display: none;
  right: 0;
  transition: transform 0.4s, opacity 0.4s;

  &.minimize {
    transform: translateY(calc(100% - #{$chat-header-min-height}));
  }

  &.close {
    transform: scale(0.925);
    opacity: 0;
  }

  &.visible {
    display: flex;
  }

  &.hidden {
    display: none;
  }
}

.ChatBox header {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35);
}

header.chat-header {
  position: relative;
  font-weight: bold;
  overflow: hidden;
  z-index: 3;
  background-color: white;
  min-height: $chat-header-min-height;
  max-height: $chat-header-min-height;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.chat-avatar {
  $size: 2.25rem;

  height: $size;
  width: $size;
  border-radius: 50%;
  margin-right: 0.5rem !important;
  color: $chat-text-color;

  + .MuiBadge-dot {
    $size: 0.8rem;

    border-radius: 50%;
    border: 0.125rem solid white;
    height: $size;
    width: $size;
    right: 30%;
  }
}

.colleague-name,
.controls,
.minimize-wrapper,
.close-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.colleague-name {
  padding: 0.5rem 0.5rem;
  min-width: calc(100% - 5.85rem);
}

body.desktop {
  .ChatBox {
    .custom-scroll-bar,
    textarea,
    #msg-box {
      &::-webkit-scrollbar {
        width: 0.55em;
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
      }

      &.grey-scrollbar {
        &::-webkit-scrollbar-thumb {
          background: #555;
        }
        *::-webkit-scrollbar-thumb {
          background: #555;
        }
      }

      & + .scroll-bar-fader {
        @include before-or-after(
          $w: 0.5rem,
          $l: unset,
          $r: 0,
          $bg: white,
          $zi: 2,
          $t: 0
        );
      }

      &:hover {
        & + .scroll-bar-fader {
          opacity: 0;
          z-index: -1;
        }
      }

      & + .scroll-bar-fader {
        &:hover {
          opacity: 0;
          z-index: -1;
        }
      }
    }
  }
}
