$incoming-outgoing-spacing: 1.25rem;
$msgs-spacing: 0.1875rem;
$msg-radius: 1.5rem;

.chat-msg-container {
  position: relative;
  user-select: none;
  cursor: pointer;
  opacity: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s;

  $diff: 120;
  $bg-incoming: #fff;
  $bg-outgoing: rgb($sec-r + $diff, $sec-g + $diff, $sec-b + $diff);

  &:last-of-type.fade-in-opacity {
    animation: fadeInOpacity 0s;
  }

  &.deleted {
    font-style: italic;

    .msg-wrapper {
      opacity: 0.45;
    }
  }

  &::after {
    @include before-or-after(
      $tr: 0.2s,
      $zi: unset,
      $w: calc(100% + 4rem),
      $h: calc(100% + 0.19rem),
      $l: -2rem,
      $t: unset,
      $br: 0.25rem,
      $b: -0.125rem,
      $bg: rgba($prim-r + 50, $prim-g + 50, $prim-b + 50, 0.35)
    );
    opacity: 0;
    transform: scale(1, 0);
  }

  &:focus {
    &.outgoing .msg-wrapper {
      background-color: $theme-secondary-v8;
      transition: transform 0.35s, background-color 0.35s, border-radius 0.35s;

      &::before {
        background-color: $theme-secondary-v8 !important;
      }
    }

    &.incoming .msg-wrapper {
      background-color: $theme-tertiary-v8;
      transition: transform 0.35s, background-color 0.35s, border-radius 0.35s;

      &::before {
        background-color: $theme-tertiary-v8 !important;
      }
    }
  }

  &.selected {
    &,
    &.deleted {
      &::after {
        transform: scale(1, 1);
        opacity: 1;
      }
    }

    &,
    &.deleted {
      &.outgoing {
        .msg-wrapper {
          transition: transform 0.35s, background-color 0.35s,
            border-radius 0.35s;
          transform: translateX(-0.4rem) !important;
        }
      }

      &.incoming {
        .msg-wrapper {
          transition: transform 0.35s, background-color 0.35s,
            border-radius 0.35s;
          transform: translateX(0.9rem);
        }
      }
    }
  }

  &.chat-last-message {
    &.incoming {
      .msg-wrapper {
        animation: incomingMessageSlideIn 1s;
      }
    }

    &.outgoing {
      .msg-wrapper {
        animation: outgoingMessageSlideInWithNoScroll 1s;
      }
    }
  }

  $br: 0.5rem;

  &.incoming {
    margin: 0;

    .chat-head {
      border-top-right-radius: $msg-radius - 0.25rem;
      border-right: 0.15rem solid;

      &.self {
        border-right-color: $theme-primary-v7;

        :focus {
          border-color: $theme-primary-v7;
        }
      }

      &.other {
        border-right-color: purple !important;

        :focus {
          border-color: purple !important;
        }
      }
    }

    .msg-wrapper {
      background: $bg-incoming;
      box-shadow: 0 0.0625rem 0 $theme-tertiary-v8;
    }

    &.first,
    &.delayed {
      .msg-wrapper {
        &::before {
          background: $bg-incoming;
          top: 0;
          left: -$msg-radius + 1rem;
          clip-path: polygon(0 0, 95% 0, 70% 75%, 0 0.25rem, 0 0);
        }
      }
    }

    &.first {
      .msg-wrapper {
        border-radius: 0.5rem $msg-radius $msg-radius $br;
      }
    }

    &.only {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius;
      }
    }

    &.middle {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius $br;
      }
    }

    &.last {
      .msg-wrapper {
        border-radius: $br $msg-radius $msg-radius;
      }
    }

    + .incoming.chat-msg-container {
      margin-top: $msgs-spacing;

      .msg-wrapper {
        &::before {
          content: unset;
        }
      }

      &.delayed {
        .msg-wrapper {
          &::before {
            content: '';
          }
        }
      }
    }
  }

  &.incoming + .outgoing.chat-msg-container {
    margin-top: $incoming-outgoing-spacing !important;
  }

  &.outgoing {
    text-align: right;
    margin: 0;

    .chat-head {
      border-top-left-radius: $msg-radius - 0.25rem;
      border-left: 0.15rem solid;

      &.self {
        border-left-color: $theme-primary-v7;
      }

      &.other {
        border-left-color: purple !important;
      }
    }

    .msg-wrapper {
      background: $bg-outgoing;
      align-self: flex-end;
      box-shadow: 0 0.0625rem 0 $theme-secondary-v8;
    }

    &.first,
    &.delayed {
      .msg-wrapper {
        &::before {
          background: $bg-outgoing;
          top: 0;
          right: -$msg-radius + 1rem;
          clip-path: polygon(25% 0, 100% 0, 100% 0.25rem, 30% 75%, 0 0);
        }
      }
    }

    &.first {
      .msg-wrapper {
        border-radius: $msg-radius 0.5rem $br $msg-radius;
      }
    }

    &.only {
      .msg-wrapper {
        border-radius: $msg-radius $br $msg-radius $msg-radius;
      }
    }

    &.middle {
      .msg-wrapper {
        border-radius: $msg-radius $br $br $msg-radius;
      }
    }

    &.last {
      .msg-wrapper {
        border-radius: $msg-radius $br $msg-radius $msg-radius;
      }
    }

    + .outgoing.chat-msg-container {
      margin-top: $msgs-spacing;

      .msg-wrapper {
        &::before {
          content: unset;
        }
      }

      &.delayed {
        .msg-wrapper {
          &::before {
            content: '';
          }
        }
      }
    }
  }

  &.outgoing + .incoming.chat-msg-container {
    margin-top: $incoming-outgoing-spacing !important;
  }

  .chat-head {
    width: calc(100% + 0.7rem) !important;
    max-width: unset;
    margin: -0.25rem 0 0.45rem -0.35rem !important;
  }

  .msg-wrapper {
    padding: 0.5rem 0.6rem;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    width: auto;
    max-width: 90%;
    max-width: calc(min(32rem, 90%));

    &::before {
      position: absolute;
      content: ' ';
      background: inherit;
      background: transparent;
      height: $msg-radius - 0.1rem;
      width: $msg-radius - 0.45rem;
      transition: inherit;
    }

    > div {
      border-radius: inherit;
    }
  }

  [class*='Icon'] {
    margin-bottom: -0.175rem;
    font-size: 1.1rem;
  }
}

.chat-timestamp-wrapper {
  font-size: 0.75rem;
  text-align: right;
  width: auto;
  float: right;
  line-height: 260%;
  color: rgba($tert-r - 100, $tert-g - 100, $tert-b - 100, 0.6);
  font-style: normal;
  margin: {
    right: -0.45rem;
    bottom: -0.75rem;
  }

  .chat-timestamp {
    transition: 0.35s;
    padding: 0;
    padding: {
      right: 0.5rem;
      left: 0.55rem;
    }
    white-space: nowrap;
  }
}

.chat-date-wrapper,
.chat-new-message-bar {
  transition: opacity 0.3s;
  position: relative;
  min-height: 2.5rem;

  &::before {
    @include before-or-after(
      $h: 0.0625rem,
      $t: calc(40% - 0.0625rem),
      $w: calc(100% + 1.25rem),
      $l: -0.75rem,
      $br: 0.25rem,
      $bg: rgba(255, 255, 255, 0.2),
      $zi: unset
    );
  }
}

#chat-date-sticky {
  pointer-events: none;
  position: sticky;
  top: calc(-1rem + 12px);
  z-index: 3;
  height: 0;
  min-height: unset;

  &.hide {
    .chat-date {
      transition-delay: unset;
      transform: translateY(-3rem);
    }
  }

  &.show {
    transition-delay: 0.5s !important;
  }

  &::before {
    content: unset;
  }
}

.chat-new-message-bar {
  // @include debugger();
  text-align: center;
  height: 0;
  min-height: 0;
  margin: 1.5rem 0 4rem 0;
  max-width: 39rem !important;
  width: calc(100% + 1rem);
  z-index: 3;
  top: -0.45rem;
  opacity: 0;
  position: sticky;
  transition: 0.35s;

  &.sticky {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.3);
    border: {
      right: none;
      left: none;
    }
    height: 2.75rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.75rem;
    right: 0;
    width: calc(100% + 1rem);
    left: -0.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
  }
}

@keyframes scaleY {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.chat-date,
button.chat-new-messages-count {
  background: rgba(255, 255, 255, 0.6);
  padding: 0.25rem 0.95rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;
  text-transform: capitalize;
  color: $theme-tertiary-v1;
  border: 0.0625rem solid rgba(0, 0, 0, 0.15);
  // box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.1) !important;
  user-select: none;
  transition: transform 0.4s ease 1.35s;
}

button.chat-new-messages-count {
  background-color: $theme-primary-v6 !important;
  color: white;
  font-size: 0.9rem;
  border: none;
  box-shadow: none !important;
  text-transform: unset;
  min-height: unset;
  min-width: 14rem;
  justify-content: space-evenly !important;
  padding: 0.4rem 1rem;
  position: relative;
  top: 0.125rem;

  &:disabled {
    background-color: $theme-primary-v6 !important;
    color: white !important;
  }

  &.hide-icon {
    [class*='Icon'] {
      display: none;
    }
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

.chat-head {
  // @include debugger();
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  margin-bottom: 0.5rem;
  max-height: 6rem;
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 0.85rem;
  padding: 0.2rem 0.4rem 0.2rem !important;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  border: 0.0625rem solid transparent;
  transition: 0.25s;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;

  &.self {
    .chat-head-sender {
      color: $theme-primary-v6;
    }

    &:focus {
      border-color: $theme-primary-v7 !important;
    }
  }

  &.other {
    .chat-head-sender {
      color: purple;
    }

    &:focus {
      border-color: purple !important;
    }
  }

  button {
    $size: 2rem;

    height: $size;
    width: $size;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    color: rgba(0, 0, 0, 0.55);
  }

  [class*='Icon'] {
    font-size: 1.25rem;
    align-self: center;
    line-height: 0;
    margin-right: auto;
  }
}
