.chat-timestamp-wrapper {
  font-size: 0.75rem;
  text-align: right;
  width: auto;
  float: right;
  line-height: 260%;
  color: #777;
  font-style: normal;
  margin: {
    right: -0.45rem;
    bottom: -0.75rem;
  }

  .chat-timestamp {
    transition: 0.35s;
    padding: 0;
    padding: {
      right: 0.35rem;
      left: 0.55rem;
    }
    white-space: nowrap;
  }
}

.chat-date-wrapper {
  transition: opacity 0.3s;
  position: relative;

  &::before {
    @include before-or-after(
      $h: 0.0625rem,
      $t: calc(50% - 0.0625rem),
      $br: 0.25rem,
      $bg: #eee,
      $zi: unset
    );
  }
}

.chat-date {
  background: white;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;
  text-transform: capitalize;
  color: $theme-tertiary-v5;
  box-shadow: 0 0 0 1rem white;
  border: 0.0625rem solid $theme-tertiary-v9;
  user-select: none;
}
