.chat-timestamp-wrapper {
  font-size: 0.75rem;
  text-align: right;
  width: auto;
  float: right;
  line-height: 260%;
  color: rgba($tert-r - 100, $tert-g - 100, $tert-b - 100, 0.6);
  font-style: normal;
  margin: {
    right: -0.45rem;
    bottom: -0.75rem;
  }

  .chat-timestamp {
    transition: 0.35s;
    padding: 0;
    padding: {
      right: 0.35rem;
      left: 0.55rem;
    }
    white-space: nowrap;
  }
}

.chat-date-wrapper,
.chat-date-wrapper-sticky,
.new-messages-bar {
  transition: opacity 0.3s;
  position: relative;
  min-height: 2.5rem;

  &::before {
    @include before-or-after(
      $h: 0.0625rem,
      $t: calc(40% - 0.0625rem),
      $w: calc(100% + 1.25rem),
      $l: -0.75rem,
      $br: 0.25rem,
      $bg: $theme-tertiary-v9,
      $zi: unset
    );
  }
}

#chat-date-sticky {
  pointer-events: none;
  position: sticky;
  top: calc(-1rem + 12px);
  z-index: 3;
  height: 0;
  min-height: unset;

  &.hide {
    opacity: 1;

    .chat-date {
      transition-delay: unset;
      transform: translateY(-3rem);
    }
  }

  &.show {
    transition-delay: 0.8s !important;
  }

  &::before {
    content: unset;
  }
}

.new-messages-bar {
  text-align: center;
  height: 0;
  min-height: 0;
  margin: {
    top: 1.5rem;
    bottom: 4rem;
    left: -0.5rem;
  }
  max-width: unset !important;
  width: calc(100% + 1.25rem);
  left: -0.5rem;
  z-index: 3;
  top: -0.45rem;
  opacity: 0;
  position: sticky;
  animation: scaleY 0.35s forwards ease 1.15s;
  transition: 0.35s;

  &.sticky {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.35);
    border: {
      right: none;
      left: none;
    }
    height: 2.75rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.75rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
  }
}

@keyframes scaleY {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.chat-date,
button.new-messages-count {
  background: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  font-size: 0.85rem;
  text-transform: capitalize;
  color: $theme-tertiary-v1;
  border: 0.0625rem solid $theme-tertiary-v7;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15) !important;
  user-select: none;
  transition: transform 0.4s ease 0.5s;
}

button.new-messages-count {
  background-color: $theme-primary-v6 !important;
  color: white;
  font-size: 0.9rem;
  border: none;
  box-shadow: none !important;
  text-transform: unset;
  min-height: unset;
  min-width: 15rem;
  justify-content: space-evenly !important;
  padding: 0.4rem 1rem;
  position: relative;
  top: 0.125rem;

  &:disabled {
    background-color: $theme-primary-v6 !important;
    color: white !important;
  }

  &.hide-icon {
    [class*=Icon] {
      display: none;
    }
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
