$convo-spacer: 0.15rem;
$avatar-size: 3rem;

.chat-left-pane {
  background-color: $theme-primary-v2;
  color: white;
  overflow: hidden;

  .animate-show {
    animation: slideUp 0.75s;
  }

  header {
    box-shadow: none;
  }

  .skeleton-loader {
    padding: 0.75rem 0.5rem;
    margin-bottom: $convo-spacer;
    transition: 0.35s;
    border-radius: $convo-spacer;
    background: $theme-primary-v3;

    &:last-child {
      margin-bottom: 0;
    }

    .chat-avatar {
      height: $avatar-size;
      width: $avatar-size;
      background-color: $theme-primary-v2;
      animation: chatConvoGlow 2s infinite;
    }

    .chat-display-name {
      flex-grow: 1;
      max-width: 20rem;
      height: 2.75rem;
      animation: chatConvoGlow 2s infinite;

      span {
        display: block;
        height: 0.8rem;
        border-radius: 0.5rem;
        margin: 0.35rem 0 0.45rem 0;
        background-color: $theme-primary-v2;

        &:last-child {
          width: 70%;
        }
      }
    }
  }

  @keyframes chatConvoGlow {
    0% {
      opacity: 0.6;
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.25);
      opacity: 0.9;
    }
    100% {
      opacity: 0.6;
      transform: scale(1, 1);
    }
  }
}

.tab-panels-wrapper {
  min-height: calc(100vh - #{$chat-header-min-height});
}

.tab-panel.custom-scroll-bar {
  padding: $convo-spacer;
  max-width: 100%;
  max-height: calc(100vh - #{$chat-header-min-height});
  overflow-y: auto;
  transition: 0.35s;

  & + .scroll-bar-fader {
    background: $theme-primary-v2 !important;
  }

  &.hide-scroll-fader,
  &.remove-scroll-fader {
    & + .scroll-bar-fader {
      z-index: -1 !important;
    }
  }
}

.tab-link {
  flex-grow: 1;
  padding: 0;
  font-weight: bold;
  min-height: $chat-header-min-height;
  background: $theme-primary-v3;

  &:hover,
  &:focus {
    color: white;
    background: $theme-secondary-v6;
  }
}

[class*='MuiTabs-indicator'] {
  background-color: $theme-secondary-v6;
}

.tab-panel-item {
  margin-bottom: $convo-spacer;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #bbb;

  &:last-child {
    margin-bottom: 0;
  }

  &:visited {
    color: lightblue;
  }

  .chat-avatar {
    height: $avatar-size;
    width: $avatar-size;
  }

  .colleague-name {
    animation: reorderConvo 0.5s;
  }

  &.recent {
    .colleague-name {
      animation: reorderRecentConvo 0.5s;
    }
  }

  @keyframes reorderConvo {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes reorderRecentConvo {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  &:hover,
  &:focus {
    .colleague-name {
      background-color: $theme-secondary-v5;
      color: white;

      .MuiBadge-dot {
        border-color: $theme-secondary-v5;
      }
    }

    .display-name {
      color: white !important;
    }
  }

  &.active {
    .colleague-name {
      background-color: $theme-primary-v5;
      color: white;

      .MuiBadge-dot {
        border-color: $theme-primary-v5;
      }
    }

    .display-name {
      color: white !important;
    }
  }

  &.uncolleagued {
    opacity: 0.35;
  }

  .colleague-name {
    padding: 0.75rem 0.5rem;
    transition: 0.35s;
    border-radius: $convo-spacer + 0.05rem;
    background: $theme-primary-v3;

    .MuiBadge-dot {
      border-color: $theme-primary-v3;
    }
  }

  .display-name-wrapper {
    display: flex;
    justify-content: space-between;
    // @include debugger();
  }

  .display-name {
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    color: #eee;
    white-space: nowrap;
    max-width: calc(100% - 4rem);
    text-overflow: ellipsis;
  }

  .chat-timestamp-wrapper {
    color: inherit;
    margin: {
      top: 0.15rem;
      right: 0;
    }
    line-height: normal;

    .chat-timestamp {
      padding: 0;
      font-size: 0.8rem;
    }
  }

  .message-badge-wrapper {
    $size: 1.25rem;

    .MuiBadge-root {
      transition: 0.35s;
      transform: scale(0);
      height: $size;
      width: $size;
      opacity: 0;
      top: 0.25rem;

      &.show-badge {
        opacity: 1;
        transform: scale(1);
      }
    }

    .MuiBadge-badge {
      transform: unset;
      transform-origin: unset !important;

      font-size: 0.8rem;
      height: $size;
      width: auto;
      background-color: $theme-secondary-v6;
      color: white;
    }
  }

  .new-conversation-tag {
    background-color: $theme-tertiary-v1;
    color: white;
    font-size: 0.8rem;
    padding: 0.1rem 0.75rem;
    border-radius: 0.25rem;
  }

  .last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    [class*='Icon'] {
      color: inherit;

      &.read {
        color: $theme-primary-v9;
      }
    }
  }
}
