$bg-sub: 40;

$convo-spacer: 0.25rem;
$avatar-size: 3rem;
$tab-item-bg: rgb($prim-r - $bg-sub, $prim-g - $bg-sub, $prim-b - $bg-sub);

.chat-left-pane {
  background-color: $theme-primary-v3;
  color: white;
  overflow: hidden;

  .animate-show {
    animation: slideUp 0.75s;
  }

  .hide,
  .show {
    transition-delay: unset;
  }

  header {
    box-shadow: none;
  }

  .skeleton-loader {
    padding: 0.75rem 0.5rem;
    margin-bottom: $convo-spacer;
    transition: 0.35s;
    border-radius: $convo-spacer + 0.15rem;
    background: $theme-primary-v4;

    &:last-child {
      margin-bottom: 0;
    }

    .chat-avatar {
      height: $avatar-size;
      width: $avatar-size;
      background-color: $theme-primary-v3;
      animation: chatConvoGlow 2s infinite;
    }

    .chat-display-name {
      flex-grow: 1;
      max-width: 20rem;
      height: 2.75rem;
      animation: chatConvoGlow 2s infinite;

      span {
        display: block;
        height: 0.8rem;
        border-radius: 0.5rem;
        margin: 0.35rem 0 0.45rem 0;
        background-color: $theme-primary-v3;

        &:last-child {
          width: 70%;
        }
      }
    }
  }

  @keyframes chatConvoGlow {
    0% {
      opacity: 0.6;
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.1);
      opacity: 0.9;
    }
    100% {
      opacity: 0.6;
      transform: scale(1, 1);
    }
  }
}

.chat-tab-panels-wrapper {
  min-height: calc(100vh - #{$chat-header-min-height});
}

.chat-tab-panel {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  transition: transform 0.25s ease 0.3s;

  &.custom-scroll-bar {
    padding: $convo-spacer;
    max-width: 100%;
    max-height: calc(100vh - #{$chat-header-min-height});
    overflow-x: hidden;

    & + .scroll-bar-fader {
      background: $theme-primary-v3 !important;
    }

    &.hide-scroll-fader,
    &.remove-scroll-fader,
    &.hidden {
      & + .scroll-bar-fader {
        z-index: -1 !important;
        opacity: 0;
      }
    }
  }

  &.hidden {
    overflow-y: hidden;
  }

  &.auto {
    overflow-y: auto;
  }
}

.chat-tab-link {
  // @include debugger();
  flex-grow: 1;
  padding: 0;
  font-size: 0.65rem;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  min-height: $chat-header-min-height;
  background: $theme-primary-v4;

  .MuiTab-wrapper {
    align-self: center;
    padding-bottom: 0.5rem;
    height: calc(100% + 0.5rem);
    justify-content: flex-end;
  }

  [class*='Icon'] {
    color: white;
    font-size: 1.65rem;
    margin: 0 !important;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

[class*='MuiTabs-indicator'] {
  background-color: $theme-secondary-v6;
}

.chat-timestamp,
.chat-tab-panel-item {
  [class*='Icon'] {
    font-size: 1.05rem;
    margin-bottom: -0.2rem;
    margin-left: 0.1rem;
    color: rgba(0, 0, 0, 0.35);
    transition: 0.3s;

    &.read {
      color: rgba(25, 160, 205, 1);

      &.animate {
        animation: scale 0.75s;
      }
    }

    @keyframes scale {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.35);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

.chat-tab-panel-item {
  margin-bottom: $convo-spacer;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #bbb;

  &:last-child {
    margin-bottom: 0;
  }

  &:visited {
    color: lightblue;
  }

  .chat-avatar {
    height: $avatar-size;
    width: $avatar-size;
    background-color: rgba(255, 255, 255, 0.25);
    color: $theme-primary-v9 !important;

    [class*='Icon'] {
      color: #eee;
    }
  }

  .chat-conversation-name-wrapper {
    animation: reorderConvo 0.35s;
  }

  &.recent {
    .chat-conversation-name-wrapper {
      animation: reorderRecentConvo 0.35s;
    }
  }

  &:hover,
  &:focus {
    .chat-conversation-name-wrapper {
      background-color: $theme-secondary-v5;
      color: white;
      border-color: transparent;

      .MuiBadge-dot {
        border-color: $theme-secondary-v5;
      }
    }

    .display-name {
      color: white !important;
    }

    .chat-avatar {
      background-color: $theme-secondary-v6;
      color: $theme-secondary-v4 !important;

      [class*='Icon'] {
        color: #fff;
      }
    }
  }

  &.active {
    .chat-conversation-name-wrapper {
      background-color: $theme-primary-v5;
      color: white;
      border-color: transparent;

      .MuiBadge-dot {
        border-color: $theme-primary-v5;
      }
    }

    .display-name {
      color: white !important;
    }

    .chat-avatar {
      background-color: $theme-primary-v6;
      color: $theme-primary-v4 !important;
    }
  }

  &.uncolleagued {
    opacity: 0.35;
  }

  .chat-conversation-name-wrapper {
    padding: 0.75rem 0.5rem;
    border-radius: $convo-spacer;
    background: $tab-item-bg;
    transition: color 0.2s, background-color 0.35s;

    .MuiBadge-dot {
      border-color: $tab-item-bg;
      right: 27%;
    }
  }

  .display-name-wrapper {
    display: flex;
    justify-content: space-between;
    // @include debugger();
  }

  .display-name {
    font-weight: bolder;
    display: inline-block;
    overflow: hidden;
    color: #eee;
    white-space: nowrap;
    max-width: calc(100% - 4.25rem);
    text-overflow: ellipsis;
  }

  .chat-timestamp-wrapper {
    color: inherit;
    margin: {
      top: 0.15rem;
      right: 0;
    }
    line-height: normal;

    .chat-timestamp {
      padding: 0;
      font-size: 0.8rem;
    }
  }

  .chat-last-message {
    > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;
    }

    [class*='Icon'] {
      color: inherit;

      &.read {
        color: $theme-primary-v9;
      }
    }
  }
}

.chat-message-badge-wrapper {
  $size: 1.25rem;

  .MuiBadge-root {
    transition: 0.35s;
    transform: scale(0);
    height: $size;
    width: $size;
    opacity: 0;
    top: 0.25rem;
    transition-duration: 0.1s;

    &.show-badge {
      transition-duration: 0.3s;
      opacity: 1;
      transform: scale(1);
    }
  }

  .MuiBadge-badge {
    transform: unset;
    transform-origin: unset !important;

    font-size: 0.8rem;
    height: $size;
    width: auto;
    font-weight: 600;
    background-color: $theme-secondary-v6;
    color: white;
  }
}

.chat-new-conversation-tag {
  background-color: $theme-tertiary-v1;
  color: white;
  font-size: 0.8rem;
  padding: 0.1rem 0.75rem;
  border-radius: 0.25rem;
}

@keyframes reorderConvo {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes reorderRecentConvo {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
