.Compose {
  background-color: white;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border-radius: 2rem;
  margin: 0 -0.5rem 1.5rem;
  position: sticky;
  top: 5rem;
  z-index: 5;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}

.compose-question {
  cursor: pointer;
  background: #eee;
  border-radius: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0.75rem;
}

.recommendations-heading {
  background-color: white;
  padding: 0.75rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 0.75rem;
  margin: 1.75rem 0 -0.75rem;
}

.recommendations {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: grid;
  border-radius: 1.5rem;
  margin: 1.75rem 0;
  padding: 0;

  .container,
  .col {
    padding: 0;
  }

  @media (hover: none) and (pointer: coarse) {
    & {
      margin-bottom: 0;
    }
  }
}

.recommendation {
  background-color: white;
  border-radius: 1.5rem;
  height: 17rem;
  position: relative;
  width: 12rem;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &,
  * {
    text-decoration: unset !important;
    color: inherit;
  }

  &.no-photo {
    .profile-photo {
      transform: translateY(-4.15rem) !important;
    }
  }

  &.null {
    background-color: #eee;
    transform: unset !important;
    box-shadow: unset !important;
  }

  &:hover,
  &:focus {
    .profile-photo {
      transform: translateY(0);

      &::before {
        opacity: 0;
      }
    }
  }

  .profile-photo {
    height: 100%;
    transform: translateY(-4.15rem);
    position: relative;
    z-index: 1;
    background: {
      size: cover;
      position: center;
      color: #eee;
    }
    transition: 0.25s;

    &::before {
      @include before-or-after($zi: 0, $tr: 0.25s, $o: 0.4, $bg: black);
    }
  }

  .display-name-wrapper {
    display: flex;
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
    padding-right: 0.75rem;
    flex-direction: column;
    color: white;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.85);
  }

  .display-name {
    font-size: 1.25rem;
  }

  .username {
    min-height: 1.5rem;
  }

  .info {
    display: block;
    padding: 0.05rem 0.75rem;
    overflow: hidden;
    min-height: 1.5rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .academic {
    position: absolute;
    bottom: 0.65rem;
  }

  .institution {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    color: $theme-tertiary-v5;
    width: calc(100% - 0.75rem);
  }

  .department {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: -0.25rem;
    padding-left: 2.25rem;
    width: calc(100% - 0.75rem);
  }

  svg {
    color: $theme-tertiary-v7;
    margin-bottom: -0.25rem;
  }
}

.post-details {
  cursor: pointer;
  padding: 0 3px;
}

.quoted-post {
  border-radius: 0.5rem;
  border: 0.5px solid #ccc;
  padding: 0.5rem 0.3rem;
  margin: 1rem 0.5rem 0.5rem 2rem;
}

.inner-comment {
  background: white;
  padding: 1rem 0 0 0;
}

.small-text {
  color: #666;
  margin: 0 0.5rem !important;
}

.react-to-post {
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;

  &:hover,
  &:focus {
    background: #eee;
  }
}

body.desktop.not-mac {
  .recommendations {
    border-radius: 1.5rem 1.5rem 0 0;

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    @media (hover: none) and (pointer: coarse) {
      &::-webkit-scrollbar {
        width: 5px;
        height: 0px;
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 5px;
    }
  }
}
