.post-list-page {
  background: #fff;
}

.middle-pane-col {
  height: calc(100vh - 4rem);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #ccc;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
  }
}

.break-word {
  word-wrap: break-word;
}

.compose-avatar {
  border: 1.5px solid #00537e;
}

.more {
  cursor: pointer;
}

.compose-question {
  cursor: pointer;
  background: #eee;
  border-radius: 2em;
}
.bio-post {
  flex-grow: 20;
}
.post-details {
  cursor: pointer;
  padding: 0 3px;
}
.quoted-post {
  border-radius: 0.5rem;
  border: 0.5px solid #ccc;
  padding: 0.5rem 0.3rem;
  margin: 1rem 0.5rem 0.5rem 2rem;
}

.inner-comment {
  background: white;
  padding: 1rem 0 0 0;
}
.small-text {
  color: #666;
  margin: 0 0.5rem !important;
}
.react-to-post {
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s;
  user-select: none;

  &:hover, &:focus {
    background: #eee;
  }
}

.debug {
  border: 0.5px solid red;
}
