.right-pane {
  background: #fff;
  padding: 10px !important;
  h4 {
    margin: 0;
    margin-bottom: 10px;
    color: #00537e;
  }
  li {
    list-style: none;
    cursor: pointer;

    span:nth-child(1):hover {
      text-decoration: underline;
    }

    span:nth-child(2) {
      margin-left: 5px;
      font-size: 12px;
      color: #888;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
}
.right-pane-col {
  padding: 1rem 5px;
}
