@import '../constants';

.Home {
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

.left-pane-col,
.middle-pane-col,
.right-pane-col {
  padding: 1rem 0;
}

@media (max-width: 767px) {
  .middle-pane-col {
    padding: 0rem 0;
  }
}

.main-modal {
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  width: 35vw;
  box-shadow: 0 0 7px #ccc;

  .post-button {
    height: 2.3em !important;
  }
  .close-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: transparent;
    &:active {
      background-color: #eee;
    }
  }
  .compose-message {
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 250px;
    color: black;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: #ccc;
    }
    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 3px;
    }
  }
}
.action-bar {
  border-bottom: 1px solid #ccc;
  padding: 10px !important;
  justify-content: flex-end;
}
.modal-wrapper {
  backdrop-filter: blur(1.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.left-pane,
.middle-pane,
.right-pane {
  border-radius: 5px;
}
