@import '../constants';

.Main {
  > div {
    width: 100%;
  }
}

.root-grid {
  height: auto;
  min-height: 100vh;
  flex-grow: 1;
  background: #eee !important;
}

@media screen and (min-width: 512px) {
  .hang-in {
    position: sticky;
    top: 5rem;
  }
}

.top-navbar {
  background: $theme-primary-v4;
  color: white;

  ul {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    height: 3.5rem;

    a {
      &:hover,
      &:focus {
        color: white;
      }

      &:active {
        color: $theme-primary-v4;
      }
    }
  }
}

.chat-open-button {
  $size: 3.25rem;

  background-color: $theme-secondary-v5;
  color: white !important;
  position: fixed;
  height: $size;
  width: $size;
  right: 1rem;
  bottom: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.85rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $theme-secondary-v4;
  }

  &.hide {
    transform: scale(0);
  }

  &.ripple {
    &::before,
    &::after {
      @include before-or-after(
        $h: 100%,
        $w: 100%,
        $bg: transparent,
        $br: inherit
      );
      border: 0.125rem solid $theme-secondary-v5;
      animation: chatButtonRipple 2s infinite;
    }

    &::after {
      animation-delay: 0.5s;
    }

    @keyframes chatButtonRipple {
      from {
        opacity: 1;
        transform: scale(0.85);
      }
      to {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }

  [class*='MuiBadge-badge'] {
    $size: 1.25rem;

    height: $size;
    width: $size;
    border-radius: 1rem;
    font-size: 0.9rem;
    top: -0.3rem;
    right: -0.5rem;
  }
}
