.dropdown-contents {
  margin-top: 5rem;
  transition: all 0s !important;
}

.Notifications {
  ::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 7px;
    width: 15px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 197);
    border-radius: 0.5rem;
    width: 0.5rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 168, 168);
  }

  background: transparent;
  margin: 0;

  .notification-text {
    padding-left: 1rem;
    color: black;
    font-weight: 600;
  }

  .notification-container {
    overflow: auto;
    overflow-x: hidden;
    background: white;
    width: 29rem;
    max-width: 100%;
    height: 85vh;
    max-width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  .notification-result {
    padding: 0.3rem 0.8rem;
    display: block;

    a {
      text-decoration: none;
      color: $theme-tertiary-v1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .dropdown-contents {
  margin-top: 2rem;
  }
  
  .Notifications {
    background: transparent;
    width: 100%;
    height: auto !important;
    margin: 0;
    margin-top: 3em !important;
    padding: 0em !important;

    .notification-text {
      padding-left: 0.4rem;
    }
    .notification-result {
      margin-bottom: 0.3em;
      padding: 0.3rem 0.2rem;
    }

    .notification-container1 {
      width: 100%;
      height: auto !important;
      margin: 0em !important;
      padding: 0em !important;
    }

    .notification-container {
      height: auto !important;
      max-height: none !important;
      background: white;
      width: 100%;
      overflow: inherit;
      overflow-x: hidden;
      background: white;

      max-width: 100%;
      border-radius: 0px;
      box-shadow: none;
      margin: 0em !important;
      padding: 0em !important;
    }
  }
}

.notifications-skeleton {
  margin-left: 4em !important;
}