.suggestion-container {
  position: relative;
}

#suggestor-dropdown {
  position: absolute;
  width: 200px;
  border-radius: 6px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

#post-input {
  width: 100%;
  border: none;
  margin-top: 0.5em;
}

#post-input:focus {
  outline: none;
  border: none;
}

.comment {
  padding: 0.5em;
  margin: 0;
  background: #eee;
  border: none;
  border-radius: 1em;
  height: 1.9em;
}

.comment-avatar {
  height: 2em;
}

.comment:focus {
  outline: none;
}

.comment-button {
  height: 1em;
}