.Profile {
  .InfoCard {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  .card-title {
    margin: 0;
    font-weight: 600;
  }

  .MuiFormHelperText-root {
    margin: 0 0.15rem;
    min-height: 1.35rem;
  }
}
