.Profile {
  .nav-bar-observee {
    position: relative;
    transform: translateY(-6rem);
  }

  .nav-bar-wrapper {
    position: sticky;
    top: 3.5rem;
    max-width: unset;
    z-index: 5;
    padding: 0;

    &.is-sticking {
      background-color: white;

      .nav-bar {
        border-radius: 0;
      }
    }
  }

  .nav-bar {
    background-color: white;
    padding: 0 1rem;
    bottom: 0;
    left: 0;
    position: relative;
    font-size: small;
    border-radius: 0;
    box-shadow: 0 1.25rem 1.5rem rgba(0, 0, 0, 0.1);
    transform: unset;
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .more-btn {
      background: #ccc !important;
      color: #000;
      box-shadow: none;
      font-size: small !important;
      padding: 0 !important;
      margin: 0 0.3rem;

      [class*='Icon'] {
        font-size: 1.8rem;
      }

      path {
        fill: black;
        stroke: transparent;
      }
    }

    a {
      text-decoration: none;

      .nav-item {
        height: 100%;
        padding: 1rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 0.25rem;
        color: black;
        border-bottom: 2px solid transparent;

        &.active {
          color: #00537e;
          border-bottom: 2px solid #00537e;
        }
      }
    }

    &.is-responding-view {
      .colleague-action-button {
        transform: scale(0.75);
      }

      .icon-button {
        opacity: 1;
        pointer-events: unset !important;
        transform: translateX(0) scale(1);

        &.back {
          transform: translateX(calc(-100% - 0.5rem)) scale(1);
        }

        &.cancel {
          transform: translateX(calc(100% + 0.5rem)) scale(1);
        }

        &:disabled {
          opacity: 0.25;
        }
      }
    }
  }

  .buttons-wrapper {
    // @include debugger();
    width: auto;
    margin: unset;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .colleague-action-button {
    position: relative;
    min-width: 6rem;
    box-shadow: none;
    padding: 0.4rem 0.9rem !important;
    margin: 0;
    margin-left: 0.75rem;
    white-space: nowrap;
    transition: 0.2s;
    transform: scale(1);

    &:disabled {
      background: $theme-primary !important;
      color: white !important;
    }

    .icon {
      font-size: 1.1em;
    }
  }

  .icon-button {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    color: $theme-primary;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none !important;
    transform: translateX(0) scale(0.5);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover,
    &:focus {
      .tool-tip {
        opacity: 1;
        transform: translateY(0.5rem);
      }
    }

    .tool-tip {
      display: inline-block;
      position: absolute;
      font-size: 0.65em;
      white-space: nowrap;
      padding: 0.2em 0.5em;
      border-radius: 0.35rem;
      top: 115%;
      right: -0.5em;
      opacity: 0;
      pointer-events: none;
      color: white;
      transform: translateY(0);
      box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
      background: rgba(0, 0, 0, 0.75);
      transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  .InfoCard {
    &.header {
      box-shadow: none;
    }
  }
}
