.Profile {
  @media screen and (max-width: 575px) {
    &.self-view {
.profile-nav-bar {
  box-shadow: none;
}
    }

    .profile-nav-bar-wrapper {
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 576px) {
    .profile-nav-bar-wrapper {
      top: 6rem;
      transform: translateY(-50%);
    }

    .profile-nav-bar {
      transform: translateX(calc(50vw - 50%));
      width: max-content;
      border-radius: 0.75rem;
    }

    .Compose {
      top: 4rem;
    }

    .InfoCard {
      &.header {
        width: calc(100% - 2rem);
        margin-left: 1rem;
      }
    }
  }


  @media screen and (min-width: 768px) {
    

    .profile-nav-bar-wrapper {
      // @include debugger();
      top: 6.75rem;
      width: 100%;

      @media screen and (max-width: 991px) {
        &.observee-is-sticking {
          width: (7/12 * 100%);
          padding-right: 0.25rem;
          // transform: translateY(-50%);

          .profile-nav-bar {
            width: 100%;
            transform: translateX(0.5rem);
          }
        }
      }
    }

    .Compose {
      top: 5rem;
    }

    .InfoCard {
      &.header {
        width: 100%;
        margin-left: unset;
      }
    }
  }

  @media screen and (min-width: 992px) {
    

    .middle-pane-wrapper {
      transform: translateY(-5.25rem);
    }

    .profile-nav-bar-wrapper {
      top: 10.25rem;
      transform: unset;
      width: calc(100% + 1rem);
      margin-bottom: 1.75rem;
    }

    .profile-nav-bar {
      transform: translate(-0.5rem);
      width: 100%;
    }

    .Compose {
      top: 10.25rem;
    }
  }
}
