.dropdown-contents {
  width: max-content;
  transition: all 0s !important;
  ::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    width: 1rem;
    margin-bottom: 0rem !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 197);
    border-radius: 0.5rem;
    width: 0.5rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 168, 168);
  }

  .container {
    padding: 0rem !important;
    margin: 0rem !important;
  }
}

.notification-container {
  overflow: auto;
  overflow-x: hidden;
  background: white;
  width: 26rem;
  max-width: 100%;
  height: 80vh;
  max-width: 100%;
  border-radius: 0.5rem;
  margin: 0 !important;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.notification-result {
  display: block;

  a {
    text-decoration: none;
    color: $theme-tertiary-v1;
  }
}

@media only screen and (max-width: 480px) {
  .notification-avatar {
    display: block;
    width: 3.4rem !important;
    height: 3.5rem !important;
  }

  .dropdown-contents {
    width: 100%;
  }

  .notification-container1 {
    width: 100%;
    margin: 0em !important;
    padding: 0em !important;
  }

  .notification-container {
    height: auto !important;
    max-height: none !important;
    background: white;
    width: 100%;
    overflow: inherit;
    overflow-x: hidden;
    background: white;
    max-width: 100%;
    border-radius: 0rem;
    box-shadow: none;
    margin: 0em !important;
    padding: 0em !important;
  }
}

.notifications-skeleton {
  margin-left: 4em !important;
}

.notification-avatar {
  width: 3rem;
  height: 3rem;
}

.dropdown-contents {
  .underline-hover {
    &:hover {
      text-decoration: underline;
    }
    font-weight: 410;
    color: #8ba22a !important;
    &:visited {
      color: #597000 !important;
    }
  }
}
