.Post {
  box-shadow: 0 0.1rem 0 #bbb, 0 0 0.125rem 0 #bbb;
  overflow: hidden;
}

.Post,
.Reply {
  // @include debugger();
  background-color: white;
  position: relative;
  font-size: 1rem;
  border-radius: 0.85rem;
  margin-bottom: 0.85rem;

  &.remove-skeleton-animation {
    [class*='skeletonStyles'] {
      animation: unset !important;
    }
  }

  &.has-replies {
    .post-footer {
      border-bottom: 0.0625rem solid #eee;
    }

    .Comment {
      .comment-container {
        border-top: none;
        border-bottom: 0.0625rem solid #eee;
      }
    }
  }

  &.has-media {
    .post-info {
      border-top: none;
    }
  }

  &.has-quote {
    .QuotedPost {
      margin: 0.75rem;
      margin-bottom: 0;
    }
  }

  .container,
  .row,
  .col {
    margin: 0;
    padding: 0;
  }

  small {
    display: inline-block;
    color: $theme-tertiary-v6;

    &.extra {
      display: block;
      color: $theme-tertiary-v5;
      font-size: 0.8em;
      overflow: hidden;
      margin-bottom: -0.25em;
      margin-left: 0.75em;
      width: calc(100% - 1.5em);
      border-bottom: 0.0625em solid #eee;
      padding: 0.75em 0.75em 0.35rem 0;
    }

    b {
      font-weight: bold;
    }
  }

  .post-header {
    padding: 0.75em 0.75em 0;

    a {
      color: inherit;
    }
  }

  .post-avatar {
    $size: 2.5em;

    height: $size;
    width: $size;
  }

  .post-body {
    overflow: hidden;

    .text {
      padding: 0.75em 0.55em;
      width: 100%;
      cursor: pointer;
      background: inherit;
      font-weight: 500;
      border: 0.25em dashed transparent;
      border-top: none;
      border-bottom: none;
      white-space: pre-wrap;

      &:hover,
      &:focus {
        border-color: #ccc;
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
  }

  .media-container {
    width: 100%;
    border-top: 0.0625rem solid #eee;
    border-bottom: 0.0625rem solid #eee;
  }

  .post-info {
    margin-left: 0.75rem;
    padding: 0.25rem;
    width: calc(100% - 1.5rem);
    border-top: 0.0625rem solid #eee;
    font-size: 0.85em;

    .font-bold {
      color: #333;
      font-size: 1.05em;
      margin-right: 0.25em;
    }

    [class*='fa-thumbs'] {
      color: #aaa !important;
      font-size: 0.9em;
    }

    .fa-thumbs-up {
      transform: translateY(-0.25em);
    }

    .fa-thumbs-down {
      transform: rotateY(180deg) translateY(0.25em);
      margin-right: 0.4em;
    }

    .n-reactions {
      min-width: fit-content;
      max-width: fit-content;
    }
  }

  .post-footer {
    padding: 0.5em 0;
    width: calc(100% - 1.5em);
    margin-left: 0.75em;
    border-top: 0.0625em solid #eee;
    // border-bottom: 0.0625rem solid #eee;

    small {
      max-width: fit-content;
      margin-top: -0.5em;
      transform: translate(-0.125em, 0.5em);
    }
  }

  .reaction-wrapper {
    max-width: 5.25em;
    padding: 0;
    margin-right: 0.25rem;

    button {
      max-height: 2em;
      height: 2em;
      width: auto;
      border-radius: 2em;
      font-size: 0.95em;
      background-color: rgba(0, 0, 0, 0.06);

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.11);

        .icon {
          transform: scale(1.35);
        }

        .fa-thumbs-up {
          transform: rotateZ(-20deg) scale(1.35);
        }

        .fa-thumbs-down {
          transform: rotateZ(20deg) scale(1.35);
        }

        &[class*='vote'] {
          .icon {
            transform: unset;
          }
        }
      }

      .fa-thumbs-up {
        transform-origin: left bottom;
      }

      .fa-thumbs-down {
        transform-origin: left top;
      }

      .icon {
        font-size: 1.1em;
        margin-right: 0.25rem;
        color: #888;
        transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }
}

#float-button-no-uploads {
  height: 1.5rem !important;
  float: right;
  background-color: #8ba22a;
  padding-top: 0.25;
}

.create-repost-text-area {
  width: 100%;
  border: none;
}
