.ReactionButton {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.03);

  &.reaction-upvote {
    $color: rgb(0, 150, 0);

    background-color: rgba(0, 150, 0, 0.15);
    color: $color;

    &:hover,
    &:focus {
      background-color: rgba(0, 150, 0, 0.25) !important;
    }
  }

  &.reaction-downvote {
    $color: rgb(190, 0, 0);

    background-color: rgba(190, 0, 0, 0.125);
    color: $color;

    &:hover,
    &:focus {
      background-color: rgba(190, 0, 0, 0.225) !important;
    }
  }

  &.reposted {
    color: $theme-primary-v7;
  }

  &:hover,
  &:focus {
    background-color: #f0f0f0;
  }

  .desc {
    margin-left: 0.35em;
    opacity: 0.6;
    font-size: 0.8em;
  }
}
