@media only screen and (max-width: 575px) {
  .Compose {
    border-radius: 0;
    top: 3.5em;
    margin: 0 0 0.75em 0;
    padding: 0.5em 0.85em;
  }

  .Post {
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0.7em;

    // .post-header {
    //   padding-left: 0.75em;
    //   padding-right: 0.75em;
    // }

    // .post-body {
    //   .text {
    //     padding: 0.75em 0.5em;
    //   }
    // }

    // .post-footer {
    //   margin-left: 0.75em;
    //   width: calc(100% - 1.5em);
    // }
  }

  // .Post {
  //   small {
  //     &.extra {
  //       margin-left: 0.75em;
  //     }
  //   }

  //   .Comment {
  //     padding: 0 0.75em;
  //   }
  // }

  .Reply {
    // border-radius: 0;
    // padding: 0.5rem 0.75rem 0;
  }

  .recommendations-heading {
    width: calc(100% - 0.75em);
    border-radius: 0.5em 0 0 0.5em;
    margin: 1.35em 0.75em -0.75em;
  }

  .recommendations {
    border-radius: 1rem 0 0 1rem;
    padding: 0;
    padding-right: 0.75rem !important;
    margin: 1.5rem 0 1.5rem 0.75rem;
    max-width: calc(100% - 0.75rem);
  }
}

.Post {
  @media screen and (min-width: 1301px) {
    .reaction-wrapper {
      &:nth-of-type(2) {
        justify-content: flex-start !important;
      }

      &:nth-of-type(3) {
        justify-content: flex-end !important;
      }

      &:last-child {
        max-width: 25%;
      }
    }
  }
}
