@import '../constants';

.index-root-grid {
  height: auto;
  min-height: 100vh;
  flex-grow: 1;
  background: white;
}

.index-root-box {
  width: 100%;
}

.index-container {
  height: inherit;
  min-height: 100%;
  display: flex;
  align-items: center;
}
