@import '../constants';

.Auth {
  overflow: hidden;
  width: 100%;
  min-height: inherit;
  background: #fff !important;

  [class^='MuiFormControl'],
  div {
    fieldset {
      border-color: #eee;
    }

    .Mui-focused {
      color: $theme-secondary !important;

      fieldset {
        border-color: $theme-secondary !important;
      }
    }

    .Mui-error {
      color: $error !important;

      input {
        color: $error !important;
      }
      fieldset {
        border-color: $error !important;
      }
    }

    .Mui-disabled {
      fieldset {
        background: #ddd;
        border: none !important;
      }
    }
  }

  .auth-main-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.25em 1.5em;
    min-height: inherit;
    margin-bottom: 3.5rem;
    position: relative;

    > * {
      position: relative;
      z-index: 1;
    }

    &::before {
      position: absolute;
      z-index: 0;
      height: 120%;
      top: -10%;
      left: 0;
      bottom: 0;
      right: 0;
      content: ' ';
      transform: rotateZ(0deg);
      background: {
        image: url('/images/auth-bg-right.png'), url('/images/auth-bg-left.png');
        repeat: no-repeat;
        position: left, right;
        attachment: fixed;
        size: 23vw;
      }
    }
  }

  .auth-form-wrapper {
    max-width: 100%;
  }

  .form-section {
    background: #fff;
    min-height: 100%;
    height: 100%;
    width: auto;
    max-width: 100%;
    padding: 2.5em 2.75rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 4em 2em rgba(0, 0, 0, 0.05),
      0 0 4em 1em rgba(0, 0, 0, 0.025), 0 0 3em 1em rgba(0, 0, 0, 0.025);

    .input-set fieldset {
      border-right: 0.175rem solid $theme-primary-v7;
    }

    .not-set fieldset {
      border-right: 0.175rem solid $error;
    }

    a:first-of-type {
      &:focus {
        .logo {
          transform: scale(1.075);
        }
      }
    }
  }

  .academic-info-input-wrapper {
    width: 100%;
    position: relative;

    .MuiLinearProgress-root {
      position: absolute;
      top: 75%;
      height: 0.1875rem;
      width: 100%;
      border-radius: 0.25rem;
    }
  }

  .search-list {
    left: 0;
    right: 0;
    font-size: 0.85rem;
    top: calc(100% - 1rem);
    max-height: calc((1.5rem * 10) + 16px);
    padding: 0;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-radius: 0.35rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    transition: 0.2s;

    &.open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    &.close {
      transform: translateY(10%);
      opacity: 0;
      visibility: hidden;
    }

    &.custom-scroll-bar {
      &::-webkit-scrollbar-thumb {
        background: $theme-secondary-v4 !important;
      }
    }
  }

  button.signup-create-button {
    position: absolute;
    top: -57%;
    right: 0;
    background-color: $theme-secondary !important;
    box-shadow: 0 0.25rem 0.5rem rgba(116, 90, 90, 0.5);
    transition: 0.3s;

    &.show {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    &.hide {
      transform: translateY(30%);
      opacity: 0;
      visibility: hidden;
    }

    &:hover,
    &:focus {
      background-color: $theme-secondary-v4 !important;
    }
  }
}
