.Media {
  width: calc(100% - (#{($pad-x / 4) * 2}));
  margin: 0.25em 0 0.5em (($pad-x / 4));
  cursor: pointer;
  min-height: 10em;
  max-height: 27em;
  border-radius: $pad-x / 1.5;
  position: relative;
  overflow: hidden;

  .video-overlay__mobile--hack {
    width: 100%;
    position: absolute;
    background-color: transparent;
    opacity: 0;
    top: 0;
    z-index: 2;
    bottom: 5em;
  }

  img {
    opacity: 0.9;
  }

  img,
  video,
  iframe {
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: $pad-x / 1.5;
    transition: 0.4s;

    &:hover {
      transition: 0.25s;
      opacity: 1;
    }
  }

  video,
  iframe {
    object-fit: contain;
    background-color: #111;
  }
}
