.Media {
  width: calc(100% - (#{($pad-x / 4) * 2}));
  margin: 0.25em 0 0.5em (($pad-x / 4));
  cursor: pointer;
  min-height: 10em;
  max-height: 30em;
  border-radius: $pad-x / 1.75;
  position: relative;
  overflow: hidden;

  &.has- {
    &1-media,
    &2-media,
    &3-media,
    &4-media,
    &5-media {
      display: grid;
      grid-template-columns: calc(50% - 0.125em) calc(50% - 0.125em);
      grid-template-rows: 12.5em 12.5em;
      column-gap: 0.25em;
      row-gap: 0.25em;

      & > div {
        position: relative;
      }
    }

    &1-media {
      grid-template-columns: auto;
      grid-template-rows: 25em;
    }

    &2-media {
      grid-template-rows: 25em;
    }

    &3-media {
      & > div:first-child {
        grid-row: 1 / 3;
      }
    }
  }

  & > div {
    border: 0.0625em solid #eee;
    border-radius: inherit;
    overflow: hidden;

    &:hover {
      .media-title__file {
        transform: translateY(-100%);
      }

      img {
        transform: scale(1.075);
      }
    }
  }

  img,
  video,
  iframe {
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: $pad-x / 1.75;
    transition: 0.3s;

    &:hover {
      & + .more-media-overlay {
        opacity: 0.5;
      }
    }
  }

  video,
  iframe {
    object-fit: contain;
    background-color: #111;
  }

  .video-overlay__mobile--hack,
  .more-media-overlay {
    width: 100%;
    position: absolute;
    background-color: transparent;
    opacity: 0;
    top: 0;
    z-index: 2;
    bottom: 5em;
  }

  .more-media-overlay {
    bottom: 0;
    background-color: rgba(
      $prim-r - 50,
      $prim-g - 50,
      $prim-b - 50,
      0.65
    ); // rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 1;
    z-index: 3;
    border-radius: $pad-x / 1.5;
    justify-content: center;
    align-items: center;
    color: #eee;
    pointer-events: none;
    transition: 0.3s;

    span {
      font-size: 2.5em;
      align-self: center;
    }
  }

  .media-title__file {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    padding: 0.25em 0.35em;
    white-space: nowrap;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    transition: 0.3s cubic-bezier(0, 1, 0.15, 1);
    // border-radius: $pad-x / 1.75 $pad-x / 1.75 0 0;

    & > div {
      max-width: calc(100% - 2.5em);

      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  @media screen and (max-width: 575px) {
    &.has- {
      &2-media {
        grid-template-columns: auto;
        grid-template-rows: 12.5em 12.5em;
      }
    }
  }
}
