.Search {
  padding: 0rem 0 2rem 0;
  min-height: 100vh;
  margin: 0;
  // @include debugger();

  .search-container {
    // margin-top: 1rem;
    background: white;
    padding: 1rem;
    width: 35rem;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

    .loader-container {
      transition: 0.35s;

      &.hide {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .search-box {
    border-radius: 0.5em;
    height: 2.75em;
    align-items: center;
    flex-wrap: nowrap;
    align-self: center;
    padding: 0 0.65em;
    margin: 0 2.5em 0 0;
    width: 100%;
    position: relative;
    z-index: 5;
    background: rgba(0, 0, 0, 0.06);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.3s, border-radius 0.3s;

    &:focus-within {
      background: rgba(0, 0, 0, 0.12);
    }
  }

  .search-input-wrapper {
    width: 100%;
  }

  .search-input {
    // color: #bbb;
    width: 100%;
    // width: calc(100% - 3rem);
    transition: 0.3s;
    padding-left: 0.5em;
  }

  .search-results-wrapper,
  .no-results-wrapper {
    padding: 0;
    max-height: calc(100vh - 14rem);
    overflow-y: auto;
  }

  .search-result {
    padding: 0.75rem 0.65rem;
    margin-top: 0.5rem;
    border-radius: 0.35rem;
    display: block;
    animation: fadeIn 0.3s;

    a {
      text-decoration: none;
      color: $theme-tertiary-v1;
    }

    .profile-avatar {
      $size: 3rem;

      height: $size;
      width: $size;
      margin-right: 0.65rem;
    }

    .display-name {
      font-size: 1.15rem;
      font-weight: bold;
    }

    .username {
      color: $theme-tertiary-v4;
    }

    .department {
      color: $theme-tertiary-v7;
      font-size: 0.95rem;
    }
  }
}
