.fade-in {
  animation: fadeInSlideUp 0.5s;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-opacity {
  animation: fadeInOpacity 0.5s;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-slide-down {
  animation: fadeInSlideDown 0.5s;
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOut 0.35s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotate-infinitely {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes slideInRightScale {
  from {
    opacity: 0;
    transform: translateX(200%) scale(2);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.slide-in-right {
  animation: slideInRight 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 0.75s forwards ease;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation: slideInTop 0.45s;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slideInBottom 0.45s;
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.scale-up {
  animation: scaleUp 0.35s;
}

.scale-up-forwards {
  animation: scaleUp 0.35s forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-down {
  animation: scaleDown 0.35s;
}

.scale-down-forwards {
  animation: scaleDown 0.35s forwards;
}

@keyframes scaleDown {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

// Chat style(s)
.animate-highlight {
  &::after {
    transform: scale(1) !important;
    background-color: rgba(
      $tert-r + 25,
      $tert-g + 25,
      $tert-b + 25,
      0.35
    ) !important;
    animation: animateHighlight 4s;
  }
}

@keyframes animateHighlight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes outgoingMessageSlideInWithScroll {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0.5rem);
  }
}

@keyframes outgoingMessageSlideInWithNoScroll {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes incomingMessageSlideIn {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hide {
  transition: opacity 0.35s;
  transition-delay: 0.25s;
  // visibility: hidden;
  opacity: 0 !important;
  pointer-events: none;
}

.show {
  transition: opacity 0.35s;
  transition-delay: 0.25s;
  // visibility: visible;
  opacity: 1 !important;
}
