@import 'constants';

.auth-main-box {
  background: {
    color: white;
    image: url('/images/auth-bg-right.png'), url('/images/auth-bg-left.png'),
      url('/images/auth-bg-center.png');
    repeat: no-repeat;
    position: right, left, center;
    size: 42vh;
  }
  width: 100%;
  padding: 2.25em 1.5em;
  overflow-x: hidden;
  min-height: inherit;
}

.auth-container {
  height: inherit;
  min-height: 100%;
  max-width: $app-max-width !important;
  display: flex;
  align-items: center;
}



.form-section {
  background: #fff;
  min-height: 100%;
  justify-self: center;
  height: 100%;
  overflow-x: hidden;
  padding: 2em 2.4rem;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.075), 0 0em 5em rgba(0, 0, 0, 0.075);
}

.status-feedback {
  font: {
    size: 0.9em;
    weight: bold;
  }
  text-align: center;
  white-space: pre-wrap;
  width: 100%;
}

.flex-basis-halved {
  flex-grow: 1;
  min-width: 46%;
}
