@import 'constants';

.auth-root-grid {
  overflow: hidden;
  width: 100%;
  min-height: inherit;
}

.auth-main-box {
  width: 100%;
  display: flex;
  align-content: center;
  padding: 2.25em 1.5em;
  min-height: inherit;
  // overflow: hidden;
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    z-index: 0;
    height: 120%;
    top: -10%;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    transform: rotateZ(0deg);
    background: {
      image: url('/images/auth-bg-right.png'), url('/images/auth-bg-left.png');
      repeat: no-repeat;
      position: left, right;
      attachment: fixed;
      size: 23vw;
    }
  }
}

.auth-container {
  height: inherit;
  min-height: 100%;
  max-width: $app-max-width !important;
  display: flex;
  align-items: center;
}

.form-section {
  background: #fff;
  min-height: 100%;
  justify-self: center;
  height: 100%;
  padding: 2em 2.4rem;
  border-radius: 1em;
  border: 1px solid #eee;
  box-shadow: 0 1em 4em 1em rgba(0, 0, 0, 0.065),
    0 0em 3em 2em rgba(0, 0, 0, 0.035);
}

.academic-info-input-wrapper {
  width: 100%;
  position: relative;
  // overflow-y: hidden;
}

.search-list {
  left: 0;
  right: 0;
  font-size: 0.85rem;
  top: calc(100% - 1rem);
  max-height: calc((1.5rem * 10) + 16px);
  padding: 0;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 10;
  border-radius: 0.35rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

  &.open {
    display: initial;
  }

  &.close {
    display: none;
  }

  &.custom-scroll-bar {
    &::-webkit-scrollbar-thumb {
      background: $theme-color-secondary-v4 !important;
    }
  }
}

button.signup-create-button {
  position: absolute;
  top: -60%;
  right: 0;
  background-color: $theme-color-primary !important;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.35);

  &.open {
    display: inline-flex;
  }
  &.close {
    display: none;
  }
}

.flex-basis-halved {
  flex-grow: 1;
  min-width: 47%;
}
