@import 'constants';

.ChatBox {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 0;
  width: 0;
  color: #222;

  * {
    color: inherit;
  }
}

.chat-button {
  $size: 3.25rem;

  background-color: $theme-color-secondary-v5;
  color: white;
  position: absolute;
  height: $size !important;
  width: $size !important;
  left: -$size;
  top: -$size;
  transform: rotateY(180deg);
  font-size: 1.75rem !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);

  &:hover {
    background-color: $theme-color-secondary-v4;
  }

  span {
    margin-bottom: -0.25rem;
  }
}

.chat-box-container {
  position: relative;
}

.chat-box-wrapper {
  $box-height: 29rem;
  $box-width: 22rem;

  border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 5rem);
  position: absolute;
  width: $box-width;
  height: $box-height;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
  left: -$box-width - 3.25rem;
  bottom: -1rem;
}

.chat-header {
  flex-grow: 0.15;
  min-height: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.chat-avatar {
  $size: 2rem;

  height: $size;
  width: $size;
  border-radius: 50%;
}

.colleague-name,
.controls,
.minimize-wrapper,
.close-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.minimize-wrapper,
.close-wrapper {
  button {
    padding: 0.5rem;
    font-size: 1.35rem !important;
  }
}

.colleague-name {
  padding: 0.65rem;
  min-width: 75%;
}

.chat-scroll-view {
  padding: 1rem;
  overflow: auto;
}

.incoming-message-wrapper {
  border-radius: 0 0.75rem 0.75rem;
  background: $theme-color-secondary-v9;
  margin-bottom: 0.25rem;
  max-width: 80%;
}

.incoming-message {
  padding: 0.65rem;
  font-size: 0.95rem;
}

.chat-timestamp {
  font-size: 0.75rem;
  text-align: right;
  line-height: 100%;
  color: #666;
  margin: {
    top: -0.75rem;
    bottom: 0.25rem;
    left: 0.5rem;
  }
}

.debugger {
  border: none;
  * {
    border: none;
  }
}

.chat-message-box {
  flex-grow: 0.3;
  min-height: 3rem;
  background-color: white;
  max-height: 3.25rem;
}

.message-box-wrapper,
.emoji-wrapper,
.send-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.emoji-wrapper,
.send-wrapper {
  z-index: 1;
  justify-content: center !important;

  button {
    padding: 0.5rem;
    font-size: 1.35rem !important;
  }
}

.message-box-wrapper {
  padding: 0;
  min-width: 72%;
}

.MuiOutlinedInput-multiline {
  border: none;
  padding: 0.5em;
  background-color: #f4f4f4;

  * {
    border: none !important;
  }
}

.message-box {
  position: absolute;
  bottom: 0.35rem;

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    left: -50%;
    content: ' ';
    background: white;
    height: calc(100% + 0.45rem);
    width: 200%;
    z-index: 0;
  }

  #message-box {
    transition: 0.1s;
  }
}
