$theme-color-blue-dark: rgb(14, 48, 63); //rgb(24, 58, 73);
$theme-color-blue-light: rgb(17, 123, 153);
$theme-color-blue-lighter: rgb(58, 169, 200);
$theme-color-green-darker: rgb(114, 137, 17);
$theme-color-green-dark: rgb(134, 157, 37);
$theme-color-green-light: rgb(154, 177, 57);

.theme-color-blue-dark {
  color: $theme-color-blue-dark !important;
}

.theme-color-blue-light {
  color: $theme-color-blue-light !important;
}

.theme-color-blue-light-1 {
  color: $theme-color-blue-lighter !important;
}

.success {
  color: #25b625 !important;
}

[class^='MuiFormControl'],
div {
  .Mui-focused {
    color: $theme-color-green-darker !important;

    fieldset {
      border-color: $theme-color-green-darker !important;
    }
  }

  .Mui-error {
    color: #f44336 !important;

    input {
      color: #f44336 !important;
    }
    fieldset {
      border-color: #f44336 !important;
    }
  }
}

a {
  color: $theme-color-blue-light;

  &:visited {
    color: $theme-color-green-darker;
  }
}