$theme-color-blue-darker: rgb(14, 48, 63); //rgb(24, 58, 73);
$theme-color-blue-dark: rgb(34, 68, 83); //rgb(24, 58, 73);
$theme-color-blue-light: rgb(17, 123, 153);
$theme-color-blue-lighter: rgb(58, 169, 200);
$theme-color-green-darker: rgb(114, 137, 17);
$theme-color-green-dark: rgb(134, 157, 37);
$theme-color-green-light: rgb(154, 177, 57);
$theme-color-success: rgb(27, 136, 27);

$app-max-width: 74rem;

