@import 'constants';

footer {
  color: $theme-tertiary-v4;
  position: relative;
  z-index: 1;

  .minor {
    padding: 4rem 0;
    text-transform: uppercase;
    border: 1px solid #e4e4e4;
    background-color: #fff;

    section {
      flex-grow: 1;
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: 0.3s, font-weight 0s;

      &:hover {
        padding-left: 0.25em;
        color: #111;
        font-weight: bold;
      }
    }

    span,
    a {
      margin: 0.35em 2em 0.25em 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 80px;
      font-size: 0.95rem;

      &:first-child {
        flex-grow: 0.25;
        justify-content: flex-start;
      }
    }

    .logo {
      margin-right: 0.25em;
      font-size: 1.3rem;
      flex-grow: 0;
    }

    .web-address {
      text-transform: lowercase;

      a:hover {
        padding-left: unset;
        font-weight: unset;
      }
    }
  }
}
