@import 'constants';

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  background: #eee;
  color: $theme-tertiary-v1;
  line-height: 1.4em;
}

body {
  position: relative;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', 'Nunito', 'Trebuchet MS', sans-serif !important;
  outline: none;
  font-weight: inherit;
}

body {
  padding: 0 !important;

  [class*='SwipeArea'] {
    width: 0.75rem !important;
  }

  &.desktop {
    [class*='SwipeArea'] {
      display: none;
    }

    &.custom-scroll-bar,
    .custom-scroll-bar,
    textarea,
    .MuiDialogContent-root {
      &::-webkit-scrollbar {
        width: 0.6em;
      }

      &::-webkit-scrollbar-track {
        background: $theme-tertiary-v9;
      }

      &::-webkit-scrollbar-thumb {
        background: $theme-secondary-v6;
        border-radius: 0 0 1rem 1rem;
      }

      .small-bar,
      &.small-bar {
        &::-webkit-scrollbar {
          width: 0.5em;
        }
      }

      .primary-bar,
      &.primary-bar {
        &::-webkit-scrollbar-thumb {
          background: $theme-primary-v6;
        }
      }

      .secondary-bar,
      &.secondary-bar {
        &::-webkit-scrollbar-thumb {
          background: $theme-secondary-v6;
        }
      }

      .tertiary-bar,
      &.tertiary-bar {
        &::-webkit-scrollbar-thumb {
          background: $theme-tertiary-v5;
        }
      }

      .rounded-bar,
      &.rounded-bar {
        &::-webkit-scrollbar-track {
          border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 1rem;
        }
      }
    }
  }
}

#root {
  height: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  // overflow-x: hidden;

  > div {
    width: 100%;
    // min-height: 100vh;
    background: #ddd;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input {
  margin: 1em 0;
  font: {
    family: inherit;
    size: inherit;
  }
}

a {
  color: $theme-secondary-v6;
  text-decoration: none;

  &:visited {
    color: $theme-secondary-v4;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}

path {
  stroke-width: 0.0625rem !important;
}

hr {
  margin: 1.25rem 0;
  height: 0.2rem;
  border-radius: 0.25rem;
  background-image: linear-gradient(
    to right,
    $theme-secondary,
    $theme-primary-v4
  );
  border: none;
}

[class*='dialog'] {
  button[class*='text'] {
    color: $theme-secondary !important;
    background-color: transparent;
  }
}

button {
  font-size: 1rem;
  font-weight: normal;
}

button,
a {
  text-transform: unset !important;

  &[class*='outlined'] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.25em 1.85em;
    border-radius: 1.75em;
    color: white;
    border: 2px solid white;
    transition: 0.25s;

    &:hover,
    &:focus {
      color: $theme-secondary;
      background-color: white;
    }
  }

  &[class*='Primary'],
  &[class*='primary'],
  &[class*='Secondary'],
  &[class*='btn-secondary'] {
    min-height: 2.25rem;
    border-radius: 0.25rem;
    background-color: $theme-primary;

    &[class*='contained'] {
      background-color: $theme-primary;
      color: white;
    }

    &[class*='text'] {
      background-color: transparent;
      color: $theme-primary;
    }

    &.major-button {
      overflow: hidden;
      z-index: 0;
      position: relative;
      background-color: #ccc;
      border-radius: 1.75rem;
      height: 3.2rem;
      font-size: 1rem;
      color: white;

      &::before,
      &::after {
        position: absolute;
        content: ' ';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: 0.5s;
      }

      &::before {
        background-image: linear-gradient(
          to left,
          $theme-secondary,
          $theme-primary-v7
        );
      }

      &::after {
        transform: translateX(-100%);
        background-image: linear-gradient(
          to right,
          $theme-secondary,
          $theme-primary-v7
        );
      }

      &:hover,
      &:focus {
        &::before {
          transform: translateX(100%);
        }
        &::after {
          transform: translateX(0);
        }
      }
    }

    &:disabled,
    &.Mui-disabled {
      background-color: #ccc !important;
      color: #777 !important;

      &::before,
      &::after {
        opacity: 0;
      }

      path {
        fill: #555 !important;
      }
    }
  }

  &[class*='Secondary'],
  &[class*='btn-secondary'] {
    background-color: $theme-secondary;

    &[class*='contained'] {
      background-color: $theme-secondary;
    }

    &[class*='text'] {
      color: $theme-secondary;
    }
  }
}

.logo {
  // min-width: 10rem;
  width: auto !important;
  display: none; // inline-block;
  padding: 0.5rem !important;
  border-radius: 0 0.45rem 0 0.45rem;
  color: #f8f8f8;
  line-height: 100% !important;
  letter-spacing: -0.5px;
  text-transform: capitalize !important;
  user-select: none;
  margin: {
    right: 0.25rem;
    top: 0;
    bottom: 0;
  }
  font: {
    family: Audiowide, Trebuchet MS, sans !important;
    size: 1.5rem;
    weight: 500;
  }
  transition: 0.3s;

  &.light-blue {
    background: $theme-primary;
  }

  &.grey {
    background: $theme-tertiary-v3;
  }

  &.gradient {
    background: {
      image: linear-gradient(to right, $theme-secondary, $theme-primary);
      position: 90% center;
      size: 200%;
    }
  }
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1500;
  display: flex;
  background: $theme-primary-v3 !important;
  color: $theme-primary-v9;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, $theme-primary-v3, $theme-primary-v4);
}

.fa,
.far,
.fas {
  font-family: 'Font Awesome 5 Free' !important;
  // transition: 0.2s;
}

.text-truncator {
  color: $theme-primary;
  position: absolute;
  right: 0.25em;
  bottom: 0.15em;
  padding: 0.1em 0.5em;
  border-radius: 2rem;
  background: inherit;
  // box-shadow: -0.5em 0 1em 0.25em #fff;

  &:hover,
  &:focus {
    background: inherit;
    text-decoration: underline;
  }
}

.truncate {
  overflow: hidden;
  white-space: pre-wrap;
  // -webkit-line-clamp: $clamp * 1;
  // -moz-line-clamp: $clamp * 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;

  &.ellipsis {
    display: -webkit-box;
    display: -moz-box;
  }
}

.with-text-gradient {
  background: {
    image: linear-gradient(to right, $theme-secondary, $theme-primary-v4);
  }
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-loading-skeleton {
  border-radius: 1rem !important;

  &.media {
    border-radius: 0 !important;
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }
}

.MuiOutlinedInput-root {
  &:hover,
  &:focus {
    .MuiOutlinedInput-notchedOutline {
      border: 2px solid $theme-tertiary-v7;
    }
  }
}

.MuiLinearProgress-colorPrimary {
  background-color: $theme-secondary-v8;
}
.MuiLinearProgress-barColorPrimary {
  background-color: $theme-secondary-v4;
}

.MuiTypography-colorPrimary {
  color: $theme-secondary;
}

.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background-color: $theme-secondary !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: $theme-primary;
}

.MuiFormHelperText-root {
  letter-spacing: unset;
}

[class^='MuiFormControl'],
div {
  fieldset {
    transition: 0.35s, border-width 0s;
  }
}

.MuiOutlinedInput-root {
  border-radius: 0.35rem;
  background: #f8f8f8;
}

.Auth {
  [class^='MuiFormControl'],
  div {
    fieldset {
      border-color: #eee;
    }

    .Mui-focused {
      color: $theme-secondary !important;

      fieldset {
        border-color: $theme-secondary !important;
      }
    }

    .Mui-error {
      color: $error !important;

      input {
        color: $error !important;
      }
      fieldset {
        border-color: $error !important;
      }
    }

    .Mui-disabled {
      fieldset {
        background: #ddd;
        border: none !important;
      }
    }
  }
}

.MuiCard-root {
  border-radius: 0.75em;
  color: inherit;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2);

  .MuiCardContent-root {
    padding: 2rem;
  }
}

.MuiAlert-filledSuccess,
.MuiAlert-filledError,
.MuiAlert-filledInfo,
.MuiAlert-filledWarning,
.MuiAlert-message {
  font: {
    weight: 500;
    size: 0.95rem;
  }
  transition: background-color 0.35s !important;
}

.MuiAlert-filledSuccess {
  background: $success;
}

.MuiAlert-filledError {
  background: $error;
}

.MuiAlert-filledInfo {
  background: $info;

  [class*='Icon'] {
    color: orange;
  }

  button {
    [class*='Icon'] {
      color: white;
    }
  }
}

.MuiAlert-icon {
  align-items: center;
}

.MuiSnackbar-root {
  max-width: $app-max-width / 2;
  display: block;
  width: auto !important;
  z-index: 1550;
  background: transparent !important;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.75);
}

.MuiDialogActions-root {
  width: 19rem !important;
  max-width: 100%;
}

.MuiToolbar-regular {
  height: 3.5rem !important;
}

.MuiOutlinedInput-multiline {
  border: none;
  padding: 0.5em;
  background-color: #f4f4f4;

  * {
    border: none !important;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-italic {
  font-style: italic;
}

.font-normal {
  font-style: normal;
}

.font-weight-norm {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bolder !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.w-0 {
  width: 0;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.vw-100 {
  width: 100vw;
}

.h-0 {
  height: 0;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.no-shadow {
  box-shadow: none;
  text-shadow: none;
}

.theme-primary {
  color: $theme-primary !important;
}
.theme-primary-lighter {
  color: $theme-primary-v7 !important;
}
.theme-primary-lightest {
  color: $theme-primary-v9 !important;
}
.theme-primary-darker {
  color: $theme-primary-v3 !important;
}
.theme-primary-darkest {
  color: $theme-primary-v1 !important;
}

.theme-secondary {
  color: $theme-secondary !important;
}
.theme-secondary-lighter {
  color: $theme-secondary-v7 !important;
}
.theme-secondary-lightest {
  color: $theme-secondary-v9 !important;
}
.theme-secondary-darker {
  color: $theme-secondary-v3 !important;
}
.theme-secondary-darkest {
  color: $theme-secondary-v1 !important;
}

.theme-tertiary {
  color: $theme-tertiary !important;
}
.theme-tertiary-darker {
  color: $theme-tertiary-v3 !important;
}
.theme-tertiary-darkest {
  color: $theme-tertiary-v1 !important;
}
.theme-tertiary-lighter {
  color: $theme-tertiary-v7 !important;
}
.theme-tertiary-lightest {
  color: $theme-tertiary-v9 !important;
}

.theme-bgcolor-primary {
  background-color: $theme-primary;
}

.theme-bgcolor-secondary {
  background-color: $theme-secondary;
}

.theme-bgcolor-tertiary {
  background-color: $theme-tertiary;
}

[class*='theme-'] {
  font-weight: inherit;
}

.pointer-events-none {
  pointer-events: none;
}

#background-grey {
  transition: 0s;
  &::before,
  &::after {
    background: #aaa !important;
  }
}

.main-modal {
  .modal-contents {
    max-height: 85vh;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.4375rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0.4375rem;
    width: 0.9375rem;
    margin-bottom: 3.5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 197);
    border-radius: 0.5rem;
    width: 0.5rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 168, 168);
  }

  textArea {
    resize: none;
  }
}
