@import 'constants';

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: Lato, Roboto, 'Trebuchet MS', sans-serif !important;
  // border: 1px solid red;
}

#root {
  min-height: 100vh;
  display: flex;
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  display: flex;
  background: $theme-color-blue-dark;
  color: $theme-color-blue-lighter;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  margin: 1em 0;
}

a {
  color: $theme-color-blue-light;

  &:visited {
    color: $theme-color-green-darker;
  }
}

button {
  &[class*='Primary'] {
    background: $theme-color-green-dark;
    border-radius: 1.5rem;
    height: 3rem;

    &:hover {
      background: $theme-color-green-darker;
    }

    &:disabled {
      background: #ccc;
      color: #555;
    }
  }
}

.landing-root-container {
  max-width: $app-max-width !important;
}

[class^='MuiFormControl'],
div {
  fieldset {
    transition: 0.35s;
  }
}

body {
  background-color: $theme-color-blue-light;

  &.desktop.custom-scroll-bar,
  &.desktop .custom-scroll-bar {
    &::-webkit-scrollbar {
      width: 0.75em;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $theme-color-blue-dark;
      border-radius: 0.5em;
    }
  }
}

[class^='MuiFormControl'],
div {
  .Mui-focused {
    color: $theme-color-green-darker !important;

    fieldset {
      border-color: $theme-color-green-darker !important;
    }
  }

  .Mui-error {
    color: #f44336 !important;

    input {
      color: #f44336 !important;
    }
    fieldset {
      border-color: #f44336 !important;
    }
  }
}

.MuiContainer-root {
  padding: 0;
}

.MuiAlert-filledSuccess,
.MuiAlert-filledError,
.MuiAlert-filledInfo,
.MuiAlert-filledWarning {
  font-weight: bold;
  font-size: 0.95rem;
}

.MuiAlert-filledSuccess {
  background: $theme-color-success;
}

.MuiAlert-icon {
  align-items: center;
}

.MuiSnackbar-root {
  max-width: $app-max-width / 2;
}

.logo {
  font-family: Lobster, cursive !important;
}

.theme-color-blue-dark {
  color: $theme-color-blue-dark;
}

.theme-color-blue-light {
  color: $theme-color-blue-light;
}

.theme-color-blue-light-1 {
  color: $theme-color-blue-lighter;
}

.success {
  color: $theme-color-success;
}
