@import 'constants';

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  color: $theme-color-tertiary-v1;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: Lato, Roboto, 'Trebuchet MS', sans-serif !important;
  // border: 1px solid red;
}

body {
  &.desktop.custom-scroll-bar,
  &.desktop .custom-scroll-bar {
    &::-webkit-scrollbar {
      width: 0.75em;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $theme-color-primary-v7;
      border-radius: 0.5em;
    }
  }
}

#root {
  height: auto;
  min-height: 100vh;
  display: flex;
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  display: flex;
  background: $theme-color-primary-v3;
  color: $theme-color-primary-v9;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  margin: 1em 0;
}

a {
  color: $theme-color-secondary-v4;

  &:visited {
    color: $theme-color-secondary-v8;
  }
}

button {
  &[class*='Primary'] {
    background: $theme-color-primary-v5;
    border-radius: 1.75rem;
    height: 3.2rem;

    &:hover {
      background: $theme-color-primary-v4;
    }

    &:disabled {
      background: #ccc;
      color: #555;
    }
  }
}

.MuiOutlinedInput-root {
  &:hover .MuiOutlinedInput-notchedOutline {
    border: 2px solid $theme-color-tertiary-v7;
  }
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: $theme-color-primary;
}

[class^='MuiFormControl'],
div {
  fieldset {
    transition: 0.35s, border-width 0s;
  }
}

.MuiOutlinedInput-root {
  border-radius: 0.5rem;
  background: #f8f8f8;
}

[class^='MuiFormControl'],
div {
  fieldset {
    border-color: #ddd;
  }

  .Mui-focused {
    color: $theme-color-secondary !important;

    fieldset {
      border-color: $theme-color-secondary !important;
    }
  }

  .Mui-error {
    color: $error !important;

    input {
      color: $error !important;
    }
    fieldset {
      border-color: $error !important;
    }
  }
}

.MuiContainer-root {
  padding: 0;
}

.MuiAlert-filledSuccess,
.MuiAlert-filledError,
.MuiAlert-filledInfo,
.MuiAlert-filledWarning {
  font: {
    weight: bold;
    size: 0.95rem;
  }
  transition: background-color 0.35s !important;
}

.MuiAlert-filledSuccess {
  background: $success;
}

.MuiAlert-filledError {
  background: $error;
}

.MuiAlert-filledInfo {
  background: $info;
}

.MuiAlert-icon {
  align-items: center;
}

.MuiSnackbar-root {
  max-width: $app-max-width / 2;
}

.logo {
  font-family: Lobster, cursive !important;
}

.theme-color-primary {
  color: $theme-color-primary;
}
.theme-color-primary-lighter {
  color: $theme-color-primary-v7;
}
.theme-color-primary-lightest {
  color: $theme-color-primary-v9;
}
.theme-color-primary-darker {
  color: $theme-color-primary-v3;
}
.theme-color-primary-darkest {
  color: $theme-color-primary-v1;
}

.theme-color-secondary {
  color: $theme-color-secondary;
}

.theme-color-tertiary {
  color: $theme-color-tertiary;
}

.theme-bgcolor-primary {
  background-color: $theme-color-primary;
}

.theme-bgcolor-secondary {
  background-color: $theme-color-secondary;
}

.theme-bgcolor-tertiary {
  background-color: $theme-color-tertiary;
}
