@import 'constants';

.MuiAppBar-root {
  background-color: transparent !important;
  transition: 0.5s;
  width: 100%;
  left: 0;
}

.nav-background {
  background-color: rgba(0, 65, 108, 0.99) !important;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.35);
}

.search {
  border-radius: 0.25em;
  height: 2.75em;
  align-items: center;
  flex-wrap: nowrap;
  align-self: center;
  padding: 0 0.75em;
  margin: 0 2.5em 0 0;
  width: auto;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.075);

  &:focus-within {
    background: rgba(255, 255, 255, 0.125);
  }
}

.search-input {
  color: white !important;
  width: 8em;
  transition: 0.3s;
  margin-left: 0.5em;

  &:focus-within {
    width: 13em;
  }
}

.nav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  a {
    text-decoration: none;
  }

  .logo {
    flex-grow: 1;
  }
}

.nav-links-wrapper {
  display: flex;
}

.nav-icon {
  margin-right: 0.25em;
  opacity: 0.15;
  transition: 0.35s;
  display: none;
}

.nav-link {
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  padding: 0.5em;
  color: #f0f0f0 !important;
  background: unset;
  text-transform: uppercase !important;
  transition: 0.35s;
  position: relative;

  &::before {
    position: absolute;
    content: ' ';
    width: 0.25em;
    max-width: 50%;
    height: 0.25em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25em;
    background-color: $theme-color-primary-v8;
    transition: 0.35s;
  }

  &.active {
    &::before {
      width: 60% !important;
      background: $theme-color-secondary;
    }

    .nav-icon {
      opacity: 0.85;
    }
  }

  &:hover {
    color: $theme-color-secondary-v8 !important;

    &::before {
      width: 3em;
      background-color: $theme-color-secondary-v7;
    }

    .nav-icon {
      opacity: unset;
    }
  }

  &:last-child {
    margin-right: 0;
    padding: 0.5em 1em;
    color: white !important;

    &::before {
      top: -70%;
      max-width: unset;
      width: 100%;
      height: 180%;
      background: $theme-color-primary-v6;
    }

    &:hover {
      &::before {
        height: 100%;
        top: 0;
        background-color: $theme-color-secondary;
      }
    }
  }
}

.drawer-nav {
  .search {
    display: none;
  }

  a {
    text-decoration: none;
    border-radius: 0 !important;
  }

  .nav-links-wrapper {
    flex-direction: column;
    padding: 2em 0;
  }

  .nav-link {
    padding: 0.85em;
    margin: 0 0.5em;
    margin-top: 0.5em;

    &:hover {
      border-bottom-color: transparent;
    }

    &:last-child {
      margin-top: 2rem;
      justify-content: flex-start;

      &::before {
        top: 0;
        width: 150%;
        height: 100%;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  .search {
    color: white;
    margin: 0;
    margin-top: 3rem;
    border-radius: 0;
    height: 3em;
    padding: 2em 1.15em;
    width: 100% !important;
    order: 1;
  }

  .MuiDrawer-paper {
    width: 60%;
    overflow-x: hidden;
    background: $theme-color-primary-v3;
    max-width: 300px;
  }
}
