@import 'constants';

.MuiAppBar-root {
  background-color: transparent !important;
  transition: 0.3s;
}

.nav-background {
  background-color: rgba(0, 65, 108, 0.9) !important;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.35);
  // background-color: $theme-color-primary-v3 !important;
}

.nav-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0;

  a {
    text-decoration: none;
  }

  .logo {
    flex-grow: 1;
  }

  .nav-links-wrapper {
    min-height: inherit;
    display: flex;

    .nav-link {
      min-height: inherit;
      border-radius: 0;
      box-shadow: none;
      display: inline-flex;
      align-items: center;
      padding: 0.5em 1.25em;
      font-weight: 600;
      font-size: 1.035em;
      color: white;
      transition: 0.3s;
      border-bottom: 2px solid transparent;

      &:last-child {
        background-color: $theme-color-primary-v7;
      }
      &:hover {
        background-color: $theme-color-secondary-v5;
        border-bottom-color: #eee;
        color: white;
      }
    }
  }
}
