@media screen and (max-width: 599px) {
  // auth component styles

  body {
    background: white;
    position: relative;
    z-index: 1;
  }

  #root {
    height: auto;
    min-height: 100vh;
  }

  .auth-main-box {
    height: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .auth-container {
    min-height: inherit;
    background-color: white;
    overflow: hidden;

    > * {
      position: relative;
    }

    &::before {
      position: fixed;
      top: -10%;
      width: 120%;
      height: 120%;
      left: 6%;
      bottom: 0;
      right: 0;
      content: ' ';
      transform: rotateZ(45deg);
      opacity: 0.9;
      background: {
        color: white;
        image: url('/images/auth-bg-left.png');
        repeat: no-repeat;
        position: left;
        size: 48vh;
      }
    }
  }

  .form-section {
    padding: 3em 0.5em;
    height: auto;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  //landing component styles

  .landing-splash-box {
    &::before {
      left: -2%;
      top: -28%;
      transform: rotateZ(-4deg);
    }

    &::after {
      height: 20em;
      width: 100%;
      top: 47%;
      left: 40%;
      transform: rotateZ(-4deg);
      opacity: 0.2;
      background: {
        position: center;
        size: 75%;
      }
    }
  }
}
