@media screen and (min-width: 1024px) {
  [class*='container-'],
  .container {
    max-width: $app-max-width;
  }

  [class*='container-fluid'] {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .ChatBox {
    .chat-box-wrapper {
      &.close {
        transition-duration: 0.2s;
        transform: scale(0.85);
      }
    }

    .chat-right-pane,
    .chat-left-pane {
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: 5;
      top: 0;
      left: 0;
      max-width: unset;
    }

    .chat-left-pane {
      opacity: 0;
      transform: translateY(10rem);
      transition: opacity 0.2s, transform 0.25s;

      &.active-pane {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .chat-middle-pane {
      width: 100vw;
      opacity: 0;
      max-width: unset;
      transform: translateY(-10rem);
      transition: opacity 0.2s, transform 0.25s;

      &.active-pane {
        opacity: 1;
        transform: translateY(0);
      }

      .chat-conversation-name-wrapper {
        .conversation-name-container {
          max-width: calc(100% - 3.25rem);
          cursor: pointer;
        }
      }

      .chat-header-control-wrapper > button {
        &.minimize-button,
        &.close-button {
          display: none;
        }
      }

      .conversations-menu-button-wrapper {
        display: inline-flex;
      }

      .more-options-wrapper {
        display: inline-flex;
      }
    }

    .chat-right-pane {
      opacity: 0;
      animation: unset;
      transform: scale(5) translateY(12rem);
      transition: opacity 0.3s, transform 0.35s;

      &.active-pane {
        opacity: 1;
        transform: scale(1) translateY(0);
      }

      .back-button {
        display: inline-flex;
      }
    }

    .chat-left-pane,
    .chat-middle-pane,
    .chat-right-pane {
      transition-delay: 0.2s;
    }

    .chat-header-controls {
      max-width: 3.25rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 0.75rem;
  }

  // Nav styles
  .MuiToolbar-regular {
    min-height: 3.5rem;
  }

  // landing page styles
  .landing-splash-box {
    &::before,
    &::after {
      width: 300vw;
      left: -100vw;
    }

    &::before {
      background: {
        position: 165vw 102%, center;
        size: 20rem, 100vw;
      }
    }
  }

  .auth-main-box {
    padding: 0;
    border-radius: 0;
    box-shadow: none;

    &::before {
      background: none;
    }

    .form-section {
      padding: 2em 1.85em;
      height: auto;
      box-shadow: none;
      border: none;
      background: transparent;
      align-self: center;

      [class*='col'] {
        padding: 0 0.25em !important;
      }

      @media screen and (max-width: 330px) {
        & {
          padding: 2em 1.25em;
        }
      }
    }
  }

  .minor {
    &::after {
      width: 230vw !important;
      left: -65vw !important;
    }
  }

  //Home style(s)
  .Home {
    margin-top: 2.5rem;

    &.container {
      padding: 0;
    }

    .middle-pane-col {
      padding: {
        left: 0 !important;
        right: 0 !important;
      }
    }
  }

  //Profile style(s)
  .Profile {
    .profile-avatar-x {
      height: 7rem;
      width: 7rem;
    }

    .action-buttons-container {
      &.enlarge {
        &::before {
          height: 9rem;
        }

        .close-edit-button {
          transform: translateX(82%);
          opacity: 1;
          visibility: visible;

          &:hover,
          &:focus {
            transform: translateX(calc(2% + 1.25rem));
          }
        }
      }

      .close-edit-button,
      .edit-button {
        // right: 1.25rem;
        transform: translateX(82%);
        border-radius: 2rem 0 0 2rem;
        transition: 0.3s;

        [class*='Icon'] {
          margin-right: 0.85rem;
        }
      }

      .edit-button {
        &:hover,
        &:focus {
          transform: translateX(calc(2% + 1.25rem));
        }
      }

      .close-edit-button {
        opacity: 1;
        transform: translateX(130%);
        visibility: hidden;
      }
    }
  }

  //Search page style(s)
  .Search {
    padding: 0;
    padding-top: 3.25rem;

    .search-box {
      border-radius: 3rem;
      transform: translateY(25vh);

      &.transform {
        border-radius: 0.5rem;
        transform: translateY(0) !important;
      }
    }

    .search-container {
      margin-top: 0;
      padding: 1.75rem 1rem 1rem;
      border-radius: 0;
      width: 100%;
    }

    .no-results-wrapper {
      height: calc(100vh - 18rem);
      max-width: 100%;
      overflow: unset;
    }

    .search-results-wrapper {
      max-width: 100%;
      height: calc(100vh - 10rem);
      max-height: calc(100vh - 10.5rem);
    }
  }
}

@media screen and (max-width: 575px) {
  .MuiSnackbar-root {
    bottom: 0;
    right: 0;
    left: 0;
  }

  .MuiAlert-root {
    border-radius: 0;
  }

  // landing page styles
  .landing-splash-container {
    font-size: 0.95em !important;

    h2 {
      font-size: 2.5rem;
    }
  }

  .MuiCard-root {
    flex-grow: 1;
    min-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .MuiCardContent-root {
      padding: 2em 1.5em;
    }
  }

  // auth component styles
  body {
    background: white;
    position: relative;
    z-index: 1;
  }

  #root {
    height: auto;
    min-height: 100vh;
  }

  .minor {
    padding: 3rem 0;

    > * {
      position: relative;
      z-index: 1;
    }

    &::after {
      height: 110%;
      width: 220vw;
      top: -10%;
      left: -60vw;
    }
  }

  .auth-form-wrapper {
    max-width: 100%;
  }

  //chat box style(s)
  .ChatBox {
    .msg-wrapper {
      font-size: 0.95rem;
    }
  }

  .chat-date {
    font-size: 0.85rem;
  }

  .chat-timestamp {
    font-size: 0.8rem;
  }

  //Profile page styles
  .Profile {
    &::before {
      width: calc(100vw + 50rem);
      left: -25rem;
    }

    [class*='card-container'] {
      padding: 0 0.85rem;
    }

    [class*='-info-card'] {
      padding: 1.5rem 1rem;
    }
  }
}

@media screen and (max-width: 360px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (-moz-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2),
  (-moz-min-device-pixel-ratio: 2) {
  #chat-date-sticky {
    top: calc(-1rem + 5px);
  }

  .chat-new-message-bar {
    top: -0.95rem;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
  (-moz-min-device-pixel-ratio: 3),
  (-o-min-device-pixel-ratio: 3),
  (-moz-min-device-pixel-ratio: 3) {
  #chat-date-sticky {
    top: calc(-1rem + 4px);
  }
}

@media only screen and (max-width: 575px) {
  html,
  body,
  #root {
    font-size: 0.975rem;
  }

  .shift {
    margin-left: -0.47rem;
  }

  .shift2 {
    margin-left: 0.5rem;
  }

  .modal-contents {
    overflow-y: auto !important;
    max-height: 85vh;
  }

  .post {
    min-height: 60vh;
  }

  .margin-top-1 {
    margin-top: 1rem;
    padding-left: 1rem;
  }

  .colleague-nav {
    padding-left: 0 !important;
    margin: 0 0.8rem !important;
    padding-right: 0 !important;
  }

  .cancel-modal {
    position: fixed;
    top: 0;
  }

  #grid-box-uploads {
    max-height: 43vh;
  }

  #upload-grid-box {
    max-height: 42vh;
  }

  #upload-grid-box1 {
    max-height: 70vh;
  }

  .modal-contents {
    position: fixed !important;
    max-height: 92vh !important;
    top: 3.22rem;
    width: 100%;
  }

  .main-modal {
    height: 110vh;
    width: 100vw !important;
    border-radius: 0;
    box-shadow: none;

    ::-webkit-scrollbar {
      width: 0.2rem;
      border-radius: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 0px;
      width: 0.25rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(194, 194, 197);
      border-radius: 0rem;
      width: 0.2rem;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(170, 168, 168);
    }
  }
}

@media only screen and (max-width: 1152px) {
  .nav-toolbar > .dropdown {
    display: none !important;
  }
}
