.left-pane {
  // @include debugger();
  padding-right: 1rem !important;

  &.has-cover-photo {
    .cover-photo {
      &::before {
        // background: rgba(0, 0, 0, 0.35) !important;
        opacity: 0.65;
      }
    }

    .avatar {
      background-color: $theme-secondary-v6;
    }
  }

  .container,
  .col,
  .row,
  & {
    padding: 0;
    margin: 0;
  }

  section {
    background-color: white;
    border-radius: 0.85rem;
    position: relative;
    overflow: hidden;
    padding: 0.75rem !important;
    margin-bottom: 0.5rem !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  .cover-photo {
    height: 9.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: {
      size: cover;
      position: center;
      color: #eee;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &::before {
      @include before-or-after($bg: $theme-gradient, $zi: 0);
    }
  }

  .avatar {
    $size: 4.5rem;

    top: -3rem;
    width: $size;
    height: $size;
    border: 0.35rem solid white;
    display: inline-flex;
    background-color: $theme-secondary-v5;

    &.has-photo {
      background-color: rgba($sec-r, $sec-g, $sec-b, 0.65);
      top: -2.75rem;
    }

    svg {
      color: white;
    }
  }

  span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .bio-wrapper {
    width: calc(100% - 5.25rem);
    margin-left: 0.65rem;
    margin-top: 7rem;
  }

  .display-name {
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    color: white;

    &.light {
      color: white;
      text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.85);
    }
  }

  .username {
    color: #777;
  }

  .status {
    color: $theme-tertiary-v6;
    font-size: 0.9rem;
    margin: 1.5rem 0 0 -4.75rem;
    min-width: calc(100% + 4.5rem);

    svg {
      margin-bottom: -0.15rem;
    }
  }

  // .rows-wrapper {
  //   height: 100%;
  //   overflow: auto;
  // }

  .info {
    font-size: 0.85rem;

    svg {
      color: #777;
      font-size: 1.25rem;
    }
  }

  .academic {
    color: #777;
  }
}
