.right-pane {
  // background: #fff;
  padding-left: 1rem !important;

  #divider {
    height: 0.0625rem !important;
    background-color: #ddd !important;
    background-image: none;
    margin-bottom: 1rem;
  }

  .container,
  .col,
  & {
    margin: 0;
    padding: 0;
  }

  section {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }

  .trending-container {
    background-color: white;
    padding: 0.75rem;
    border-radius: 1rem;
  }

  h4 {
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  li {
    list-style: none;
    cursor: pointer;

    span {
      &:nth-child(1) {
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      &:nth-child(2) {
        margin-left: 1rem;
        font-size: 0.9rem;
        color: #aaa;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }
}
